{{ partial "page/header.html" . }}

<div id="fl-main-content" class="blog" itemprop="mainContentOfPage" role="main">
  <div class="fl-row-content fl-row-fixed-width fl-node-content">

       
        <article class="single-content" style="max-width: 960px; margin:0 auto; padding-left:18px;padding-right:18px"
          itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

          <h1 class="heading">{{ .Title }}</h1>
          <div class="post-tags" style="margin-bottom: 1rem;">{{ range .Params.tags }}<a href="/blog/tags/{{ . | urlize }}/">#{{ . }}</a> {{ end }}</div>
  
          <div class="fl-rich-text" style="max-width: 43rem;">
            {{ $cdnPrefix := "https://imagecdn.app/v1/images/" }}
            {{ $content := .Content }}

            {{ $cdnContent := $content }}
            {{ $cdnContent := replaceRE "<img" "<img loading=\"lazy\" decoding=\"async\"" $cdnContent }}

            {{ $images := findRE "(https://raw\\.githubusercontent\\.com/jetthoughts/jetthoughts\\.github\\.io/master/static/assets/img/blog/[^\"]+)" $content }}

            {{ range $images }}
              {{ $original := . }}
              {{ $encoded := printf "%s%s?width=660&fit=inside" $cdnPrefix (urlquery $original) }}
              {{ $cdnContent = replace $cdnContent $original $encoded }}
            {{ end }}


            {{ $cdnContent | safeHTML }}
          </div>
          </article>



  </div>
</div>

{{ partial "page/footer.html" . }}
