/* FL-Builder Grid System Utilities */

/* FL-Builder Clearfix System */
.fl-row:before, .fl-row:after, .fl-row-content:before, .fl-row-content:after, .fl-col-group:before, .fl-col-group:after, .fl-col:before, .fl-col:after, .fl-module:before, .fl-module:after, .fl-module-content:before, .fl-module-content:after {
  display: table;
  content: " ";
}

.fl-row:after, .fl-row-content:after, .fl-col-group:after, .fl-col:after, .fl-module:after, .fl-module-content:after {
  clear: both;
}

/* FL-Builder Basic Grid Layout */
.fl-row, .fl-row-content {
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}

.fl-row-content-wrap {
  position: relative;
}

/* FL-Builder Column Group Equal Height */
.fl-col-group-equal-height {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.fl-col-group-equal-height.fl-col-group-has-child-loading {
  flex-wrap: nowrap;
}

.fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {
  display: flex;
  flex: 1 1 auto;
}

.fl-col-group-equal-height .fl-col-content {
  flex-direction: column;
  flex-shrink: 1;
  min-width: 1px;
  max-width: 100%;
  width: 100%;
}

.fl-col-group-equal-height:before, .fl-col-group-equal-height .fl-col:before, .fl-col-group-equal-height .fl-col-content:before, .fl-col-group-equal-height:after, .fl-col-group-equal-height .fl-col:after, .fl-col-group-equal-height .fl-col-content:after {
  content: none;
}

.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-top .fl-col-content, .fl-col-group-equal-height.fl-col-group-align-top .fl-col-content {
  justify-content: flex-start;
}

.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
  align-items: center;
  justify-content: center;
}

.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content, .fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
  justify-content: flex-end;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
  width: 100%;
}

.fl-builder-ie-11 .fl-col-group-equal-height, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content, .fl-builder-ie-11 .fl-col-group-equal-height .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
  min-height: 1px;
}