/* FL-Builder Grid System Utilities */

/* FL-Builder Clearfix System */
.fl-row:before, .fl-row:after, .fl-row-content:before, .fl-row-content:after, .fl-col-group:before, .fl-col-group:after, .fl-col:before, .fl-col:after, .fl-module:before, .fl-module:after, .fl-module-content:before, .fl-module-content:after {
  display: table;
  content: " ";
}

.fl-row:after, .fl-row-content:after, .fl-col-group:after, .fl-col:after, .fl-module:after, .fl-module-content:after {
  clear: both;
}

/* Utility Clearfix Class (from foundation/clearfix.css consolidation) */
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* FL-Builder Basic Grid Layout */
.fl-row, .fl-row-content {
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}

.fl-row-content-wrap {
  position: relative;
}

/* FL-Builder Column Group Equal Height */
.fl-col-group-equal-height {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.fl-col-group-equal-height.fl-col-group-has-child-loading {
  flex-wrap: nowrap;
}

.fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {
  display: flex;
  flex: 1 1 auto;
}

.fl-col-group-equal-height .fl-col-content {
  flex-direction: column;
  flex-shrink: 1;
  min-width: 1px;
  max-width: 100%;
  width: 100%;
}

.fl-col-group-equal-height:before, .fl-col-group-equal-height .fl-col:before, .fl-col-group-equal-height .fl-col-content:before, .fl-col-group-equal-height:after, .fl-col-group-equal-height .fl-col:after, .fl-col-group-equal-height .fl-col-content:after {
  content: none;
}

.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-top .fl-col-content, .fl-col-group-equal-height.fl-col-group-align-top .fl-col-content {
  justify-content: flex-start;
}

.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
  align-items: center;
  justify-content: center;
}

.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content, .fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
  justify-content: flex-end;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
  width: 100%;
}

.fl-builder-ie-11 .fl-col-group-equal-height, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content, .fl-builder-ie-11 .fl-col-group-equal-height .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
  min-height: 1px;
}

/* FL-Builder Row Background Media */
.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {
  background-attachment: scroll;
}

.fl-row-bg-video, .fl-row-bg-video .fl-row-content, .fl-row-bg-embed, .fl-row-bg-embed .fl-row-content {
  position: relative;
}

.fl-row-bg-video .fl-bg-video, .fl-row-bg-embed .fl-bg-embed-code {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.fl-row-bg-video .fl-bg-video video, .fl-row-bg-embed .fl-bg-embed-code video {
  bottom: 0;
  left: 0px;
  max-width: none;
  position: absolute;
  right: 0;
  top: 0px;
}

.fl-row-bg-video .fl-bg-video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.fl-row-bg-video .fl-bg-video iframe, .fl-row-bg-embed .fl-bg-embed-code iframe {
  pointer-events: none;
  width: 100vw;
  height: 56.25vw;
  max-width: none;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.fl-bg-video-fallback {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

/* FL-Builder Row Background Slideshow */
.fl-row-bg-slideshow, .fl-row-bg-slideshow .fl-row-content {
  position: relative;
}

.fl-row .fl-bg-slideshow {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.fl-builder-edit .fl-row .fl-bg-slideshow * {
  bottom: 0;
  height: auto !important;
  left: 0;
  position: absolute !important;
  right: 0;
  top: 0;
}

/* FL-Builder Row Background Overlay */
.fl-row-bg-overlay .fl-row-content-wrap:after {
  border-radius: inherit;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.fl-row-bg-overlay .fl-row-content {
  position: relative;
  z-index: 1;
}

/* FL-Builder Row Height and Alignment */
.fl-row-default-height .fl-row-content-wrap, .fl-row-custom-height .fl-row-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.fl-row-overlap-top .fl-row-content-wrap {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.fl-row-default-height .fl-row-content-wrap, .fl-row-custom-height .fl-row-content-wrap {
  min-height: 0;
}

.fl-row-default-height .fl-row-content, .fl-row-full-height .fl-row-content, .fl-row-custom-height .fl-row-content {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.fl-row-default-height .fl-row-full-width.fl-row-content, .fl-row-full-height .fl-row-full-width.fl-row-content, .fl-row-custom-height .fl-row-full-width.fl-row-content {
  max-width: 100%;
  width: 100%;
}

.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile), .fl-builder-ie-11 .fl-row.fl-row-custom-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content-wrap {
  height: auto;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content {
  flex: 0 0 auto;
  flex-basis: 100%;
  margin: 0;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content {
  margin: 0 auto;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height), .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.fl-row-default-height.fl-row-align-center .fl-row-content-wrap, .fl-row-full-height.fl-row-align-center .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-center .fl-row-content-wrap {
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.fl-row-default-height.fl-row-align-bottom .fl-row-content-wrap, .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
  align-items: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-box-pack: end;
  -ms-flex-align: end;
  -ms-flex-pack: end;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}