{
  "plugins": [
    "prettier-plugin-go-template"
  ],
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "bracketSameLine": true,
        "goTemplateBracketSpacing": true,
        "parser": "go-template"
      }
    }
  ]
}
