    <link rel="apple-touch-icon" sizes="180x180" href="{{ (resources.Get "img/favicon/apple-touch-icon.png" | fingerprint "md5").RelPermalink }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ (resources.Get "img/favicon/favicon-32x32.png" | fingerprint "md5").RelPermalink }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ (resources.Get "img/favicon/favicon-16x16.png" | fingerprint "md5").RelPermalink }}">
    <link rel="manifest" href="{{ (resources.Get "img/favicon/site.webmanifest" | resources.ExecuteAsTemplate "site.webmanifest" . | fingerprint "md5").RelPermalink }}">
    <link rel="mask-icon" href="{{ (resources.Get "img/favicon/safari-pinned-tab.svg" | fingerprint "md5").RelPermalink }}" color="#5bbad5">