<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">
   <head>
      <meta charset="UTF-8" />
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <meta http-equiv='X-UA-Compatible' content='IE=edge' />
      <link rel="profile" href="https://gmpg.org/xfn/11" />
      <title>{{ .Title }}</title>
      <meta name="description" content="{{ .Params.description }}" />
      <meta name="robots" content="index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
      <link rel="canonical" href="{{ .Permalink }}" />
      <meta property="og:locale" content="en_US" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="{{ .Title }} | JetThoughts" />
      <meta property="og:description" content="{{ .Params.description }}" />
      <meta property="og:url" content="{{ .Permalink }}" />
      <meta property="og:site_name" content="JetThoughts" />
      <meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}" />

      {{ $url := .RelPermalink }}
      {{ if or (eq $url "/blog/") (strings.HasPrefix $url "/blog/page/") }}
        <meta name="robots" content="NOODP">
      {{ end }}

      {{ with .Page.Resources.GetMatch .Page.Params.metatags.image }}
      <meta property="og:image" content="{{ .Permalink }}" />
      <meta property="og:image:secure_url" content="{{ .Permalink }}" />
      <meta property="og:image:width" content="{{ .Width }}" />
      <meta property="og:image:height" content="{{ .Height }}" />
      <meta property="og:image:alt" content="og privacy policy" />
      <meta property="og:image:type" content="image/jpeg" />
      <meta name="twitter:image" content="{{ .Permalink }}" />
      {{ end }}


      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content="{{ .Title}} | JetThoughts" />
      <meta name="twitter:description" content="{{ .Params.description }}" />
      <meta name="twitter:site" content="@jetthoughts" />
      <meta name="twitter:creator" content="@jetthoughts" />

      <!-- /Rank Math WordPress SEO plugin -->
      <link rel='dns-prefetch' href='{{ absURL "" }}' />


      {{ if eq .Params.slug "privacy-policy" }}
        {{ partial "header/privacy-policy.html" . }}

      {{ else if eq .Params.slug "free-consultation" }}
        {{ partial "header/free-consultation.html" . }}

      {{ else if eq .Params.slug "clients" }}
        {{ partial "header/clients.html" . }}

      {{ else if eq .Params.slug "services" }}
        {{ partial "header/services.html" . }}

      {{ else if eq .Params.slug "use-cases" }}
        {{ partial "header/use-cases.html" . }}

      {{ else if eq .Type "services" }}
        {{ partial "header/single/services.html" . }}

      {{ else if eq .Type "use-cases" }}
        {{ partial "header/single/use-cases.html" . }}

      {{ else if .IsHome }}
        {{ partial "header/homepage.html" . }}

      {{ else if eq .Params.slug "contact-us" }}
        {{ partial "header/contact-us.html" . }}

      {{ else if eq .Params.slug "about-us" }}
        {{ partial "header/about-us.html" . }}

      {{ else if (strings.HasPrefix $url "/blog/") }}
        {{ partial "header/blog.html" . }}
      {{ end }}

      {{ if eq .Params.slug "careers" }}
        {{ partial "header/careers.html" . }}

      {{ else if eq .Type "careers" }}
        {{ partial "header/single/careers.html" . }}

      {{ else if eq .Type "clients" }}
        {{ partial "header/single/clients.html" . }}
      {{ end }}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js" id="jquery-migrate-js"></script>
      <link rel="icon" href="{{ absURL "wp-content/uploads/2022/09/cropped-jet-thoughts-logo-32x32.png" }}" sizes="32x32" />
      <link rel="icon" href="{{ absURL "wp-content/uploads/2022/09/cropped-jet-thoughts-logo-192x192.png" }}" sizes="192x192" />
      <link rel="apple-touch-icon" href="{{ absURL "wp-content/uploads/2022/09/cropped-jet-thoughts-logo-180x180.png" }}" />
      <meta name="msapplication-TileImage" content="{{ absURL "wp-content/uploads/2022/09/cropped-jet-thoughts-logo-270x270.png" }}" />

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-T1N27FC30F"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-T1N27FC30F');
      </script>

      {{ if eq .Params.slug "contact-us" }}
        <script type="text/javascript">
          var onloadCallback = function() {
            console.log("grecaptcha is ready!")
            grecaptcha.render('html_element', {
              'sitekey' : '6Lem-e4pAAAAAJM_6wjku-RWSfFY9YoccTTTeXCf',
              'callback' : correctCaptcha
            });
          };

          var correctCaptcha = function(response) {
            if (response.length == 0) {
              document.getElementById('gform_submit_button_5').disabled = true
              return false;
            } else {
              document.getElementById('gform_submit_button_5').disabled = false
              return true;
            }
          };
        </script>
      {{ end }}

      {{ if .IsHome }}
        <link rel="prefetch" href="/services/" as="document" >
        <link rel="prefetch" href="/use-cases/" as="document">
        <link rel="prefetch" href="/about-us/" as="document">
        <link rel="prefetch" href="/clients/" as="document">
        <link rel="prefetch" href="/careers/" as="document">
      {{ end }}

   </head>
   <body class="privacy-policy page-template-default page page-id-3059 fl-builder fl-theme-builder-header fl-theme-builder-header-header fl-theme-builder-footer fl-theme-builder-footer-footer fl-framework-base-4 fl-preset-default fl-full-width fl-search-active" itemscope="itemscope" itemtype="https://schema.org/WebPage">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=G-T1N27FC30F"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <a aria-label="Skip to content" class="fl-screen-reader-text" href="#fl-main-content">Skip to content</a>
      <div class="fl-page">
      <header class="fl-builder-content fl-builder-content-588 fl-builder-global-templates-locked" data-post-id="588" data-type="header" data-sticky="1" data-sticky-on="all" data-sticky-breakpoint="medium" data-shrink="1" data-overlay="1" data-overlay-bg="transparent" data-shrink-image-height="50px" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
         <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-q9s2ncprogml fl-row-default-height fl-row-align-center" data-node="q9s2ncprogml">
            <div class="fl-row-content-wrap">
               <div class="fl-row-content fl-row-fixed-width fl-node-content">
                  <div class="fl-col-group fl-node-6ghurya04s2b fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width" data-node="6ghurya04s2b">
                     <div class="fl-col fl-node-zycl0pq2xei4 fl-col-small fl-col-small-custom-width" data-node="zycl0pq2xei4">
                        <div class="fl-col-content fl-node-content">
                           <div class="fl-module fl-module-photo fl-node-b1kta765r0lo" data-node="b1kta765r0lo">
                              <div class="fl-module-content fl-node-content">
                                 <div class="fl-photo fl-photo-align-left" itemscope itemtype="https://schema.org/ImageObject">
                                    <div class="fl-photo-content fl-photo-img-png">
                                       <a href="{{ absURL "" }}" target="_self" itemprop="url">
                                       <img loading="lazy" decoding="async" class="fl-photo-img wp-image-606 size-full"
                                       src="{{ absURL "wp-content/uploads/2022/09/jet-thoughts-logo.webp" }}" alt="Jet Thoughts logo with inscription" itemprop="image"
                                       height="73" width="400" data-no-lazy="1" /></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="fl-col fl-node-6evrh1ufgx0t fl-col-small-custom-width" data-node="6evrh1ufgx0t">
                        <div class="fl-col-content fl-node-content">
                           <div class="fl-module fl-module-pp-advanced-menu fl-node-ncg61wov0ytq" data-node="ncg61wov0ytq">
                              <div class="fl-module-content fl-node-content">
                                 <div class="pp-advanced-menu pp-advanced-menu-accordion-collapse pp-menu-default pp-menu-align-right pp-menu-position-below">
                                    <div class="pp-clear"></div>
                                    <nav class="pp-menu-nav" aria-label="Main Menu" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                                    <ul id="menu-main-menu" class="menu pp-advanced-menu-horizontal pp-toggle-arrows">
                                    {{ $currentPage := .Page }}
                                    {{ range .Site.Menus.main }}
                                    {{ $active := or (eq $currentPage.RelPermalink .URL) ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .) }}
                                    {{ if .HasChildren }}

                                    <li class="menu-{{ .Identifier }} menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children pp-has-submenu
                                    {{if $active }}current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor{{ end }}">
                                             <div class="pp-has-submenu-container"><a href="{{ .URL }}"><span class="menu-item-text">{{ .Name }}<span class="pp-menu-toggle" tabindex="0" aria-expanded="false" aria-label="{{ .Name }}: submenu" role="button"></span></span></a></div>
                                             <ul class="sub-menu">
                                                {{ range .Children }}
                                                <li class="submenu-{{ .Identifier }} menu-item menu-item-type-post_type menu-item-object-page {{if (eq $currentPage.RelPermalink .URL) }}current-menu-item page_item current_page_item{{ end }}"><a href="{{ .URL }}">
                                                    <div class="menu-image">
                                                      {{ $partialPath := printf "header/icons/%s.html" .Identifier }}
                                                      {{ partial $partialPath . }}
                                                    </div>
                                                    <span class="menu-item-text">{{ .Name }}</span><p class="menu-desc"></p></a></li>
                                                {{ end }}
                                             </ul>
                                          </li>
                                    {{ else }}
                                    <li class="jt-{{ .Identifier }} menu-item menu-item-type-post_type menu-item-object-page {{if $active }}current-menu-item page_item current_page_item{{ end }}"><a href="{{ .URL }}"><span class="menu-item-text">{{ .Name }}</span></a></li>

                                    {{ end }}

                                    {{ end }}
                                    </ul>
                                    </nav>

                                 </div>
                                 <div class="pp-advanced-menu-mobile">
                                    <button class="pp-advanced-menu-mobile-toggle hamburger" tabindex="0" aria-label="Menu">
                                       <div class="pp-hamburger">
                                          <div class="pp-hamburger-box">
                                             <div class="pp-hamburger-inner"></div>
                                          </div>
                                       </div>
                                    </button>
                                 </div>
                                 <div class="pp-advanced-menu pp-advanced-menu-accordion-collapse off-canvas pp-menu-position-below">
                                    <div class="pp-clear"></div>
                                    <nav class="pp-menu-nav pp-off-canvas-menu pp-menu-right" aria-label="Main Menu" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                                       <a href="javascript:void(0)" class="pp-menu-close-btn" aria-label="Close the menu" role="button">×</a>
                                       <ul id="menu-main-menu-1" class="menu pp-advanced-menu-horizontal pp-toggle-arrows">

                                          {{ $currentPage := .Page }}
                                          {{ range .Site.Menus.main }}
                                          {{ $active := or (eq $currentPage.RelPermalink .URL) ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .) }}
                                          {{ if .HasChildren }}

                                          <li class="menu-{{ .Identifier }} menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children pp-has-submenu
                                          {{if $active }}current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor{{ end }}">
                                                   <div class="pp-has-submenu-container"><a href="{{ .URL }}"><span class="menu-item-text">{{ .Name }}<span class="pp-menu-toggle" tabindex="0" aria-expanded="false" aria-label="{{ .Name }}: submenu" role="button"></span></span></a></div>
                                                   <ul class="sub-menu">
                                                      {{ range .Children }}
                                                      <li class="submenu-{{ .Identifier }} menu-item menu-item-type-post_type menu-item-object-page {{if (eq $currentPage.RelPermalink .URL) }}current-menu-item page_item current_page_item{{ end }}"><a href="{{ .URL }}">
                                                          <div class="menu-image">
                                                            {{ $partialPath := printf "header/icons/%s.html" .Identifier }}
                                                            {{ partial $partialPath . }}
                                                          </div>
                                                          <span class="menu-item-text">{{ .Name }}</span><p class="menu-desc"></p></a></li>
                                                      {{ end }}
                                                   </ul>
                                                </li>
                                          {{ else }}
                                          <li class="jt-{{ .Identifier }} menu-item menu-item-type-post_type menu-item-object-page {{if $active }}current-menu-item page_item current_page_item{{ end }}"><a href="{{ .URL }}"><span class="menu-item-text">{{ .Name }}</span></a></li>

                                          {{ end }}

                                          {{ end }}
                                     </ul>
                                    </nav>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="fl-col fl-node-r5xbj4ni8mge fl-col-small fl-visible-desktop fl-visible-large fl-visible-medium" data-node="r5xbj4ni8mge">
                        <div class="fl-col-content fl-node-content">
                           <div class="fl-module fl-module-button fl-node-vha2g9x6ljec" data-node="vha2g9x6ljec">
                              <div class="fl-module-content fl-node-content">
                                 <div class="fl-button-wrap fl-button-width-auto fl-button-right">
                                    <a href="{{ absURL "contact-us/" }}" target="_self" class="fl-button">
                                    <span class="fl-button-text">Contact Us</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
