<nav class="navigation">
  <ul class="list">
    {{ $currentPage := .Page }}
    {{ range .Site.Menus.main }}
    {{ $active := or (eq $currentPage.RelPermalink .URL) ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .) }}
    {{ if .HasChildren }}

      <li class="item -arrow {{if $active }}active{{ end }}">
        <a href="{{ .URL }}" class="link">{{ .Name }}</a>

        <ul class="sub-menu">
          {{ range .Children }}
            <li class="sub-item">
              <a href="{{ .URL }}" class="sub-link">
                <div class="sub-image">
                  {{ $partialPath := printf "header/icons/%s.html" .Identifier }}
                  {{ partial $partialPath . }}
                </div>
                <div class="sub-holder">
                  <div class="sub-name">{{ .Title }}</div>
                  <div class="sub-text">{{ .Name }}</div>
                </div>
              </a>
            </li>
          {{ end }}
        </ul>

      </li>

    {{ else }}
      <li class="item {{if $active }}active{{ end }}">
        {{ if eq .URL "/contact-us/" }}
          <a href="{{ .URL }}" class="btn btn-primary">{{ .Name }}</a>
        {{ else }}
          <a href="{{ .URL }}" class="link">{{ .Name }}</a>
        {{ end }}
      </li>
    {{ end }}
    {{ end }}
  </ul>
</nav>
