<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js" id="jquery-migrate-js"></script>

{{
$js := slice
  (resources.Get "/assets/js/587.js")
  (resources.Get "/assets/js/bb-theme/pp_advanced_tabs.js")
  (resources.Get "/assets/js/bb-theme/theme.js")
  | resources.Concat "assets/js/_site.js"
  | minify | fingerprint | resources.PostProcess
}}

<script defer src='{{ $js.Permalink }}'></script>
<script async src='{{ (resources.Get "/assets/js/bb-theme/theme.js" | minify | fingerprint  | resources.PostProcess).Permalink }}'></script>
<script async src='{{ (resources.Get "/assets/js/bb-theme/pp_advanced_menu.js" | minify | fingerprint  | resources.PostProcess).Permalink }}'></script>
<script async src='{{ (resources.Get "/assets/js/script.js" | minify | fingerprint  | resources.PostProcess).Permalink }}'></script>

<!-- Google tag (gtag.js) -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-T1N27FC30F"></script>
<script defer>
window.dataLayer = window.dataLayer || []
function gtag () {dataLayer.push(arguments)}
gtag("js", new Date())
gtag("config", "G-T1N27FC30F")
</script>
