{{ $addHeadline := .addHeadline | default "true" }}

<div id="use-cases" class="use-cases">
{{ if eq $addHeadline "true" }}
<p class="heading">USE CASES</p>
{{ end }}
<h2 class="subheading">Delivering positive technology outcomes</h2>
<p class="description">We are committed to helping companies confront &amp; conquer new software development challenges, no matter how complicated.</p>

<div class="d-flex tabs-container js-tabs-container">
    <div class="tabs" role="tablist" aria-label="Use cases">
        <h2 class="tab-title js-tab" id="use-cases-tab-1"
            role="tab" tabindex="0" aria-selected="true" aria-controls="use-cases-panel-1"
        >Startup MVP Prototyping & Development</h2>
        <h2 class="tab-title js-tab" id="use-cases-tab-2"
            role="tab" tabindex="-1" aria-selected="false" aria-controls="use-cases-panel-2"
        >Salvage an Existing Project</h2>
        <h2 class="tab-title js-tab" id="use-cases-tab-3"
            role="tab" tabindex="-1" aria-selected="false" aria-controls="use-cases-panel-3"
        >Emergency CTO Leadership</h2>
        <h2 class="tab-title js-tab" id="use-cases-tab-4"
            role="tab" tabindex="-1" aria-selected="false" aria-controls="use-cases-panel-4"
        >Empower an Existing Engineering Team</h2>
        <h2 class="tab-title js-tab" id="use-cases-tab-5"
            role="tab" tabindex="-1" aria-selected="false" aria-controls="use-cases-panel-5"
        >Accelerate Development & Maximize Capacity</h2>
        <h2 class="tab-title js-tab" id="use-cases-tab-6"
            role="tab" tabindex="-1" aria-selected="false" aria-controls="use-cases-panel-6"
        >Automate Product QA & Testing</h2>
    </div>

    <div class="tab-panels flex1">
        <div class="tab-panel" role="tabpanel" tabindex="0" aria-labelledby="use-cases-tab-1" id="use-cases-panel-1">
            <h3 class="heading">Startup MVP Prototyping &amp; Development</h3>
            <ul class="list">
                <li class="item">
                    With the emergence of lean methodologies, software startups are finding creative, cost-effective ways to go-to-market on a budget.</li>
                <li class="item">
                    Instead of enduring big expenses &amp; risks to build a full product, startups can use prototypes and Minimally-Viable Products (MVP) as a low-cost way to gather customer feedback and iterate on the overall product vision.</li>
                <li class="item">
                    We’ve helped startups across a variety of industries go from zero to go-to-market at a fraction of the costs with prototyping &amp; MVP development services.</li>
            </ul>
            <a class="action-button" title="Startup MVP Prototyping &amp; Development" href="{{ relURL "use-cases/startup-mvp-prototyping-development/" }}">Learn More</a>
        </div>

        <div class="tab-panel" role="tabpanel" tabindex="0" aria-labelledby="use-cases-tab-2" id="use-cases-panel-2" hidden>
            <h3 class="heading">Salvage an Existing Project</h3>
            <ul class="list">
                <li class="item">
                    Software products often get handled by many people, teams, and leaders as it ages, which can make it harder to maintain, repair, and improve.</li>
                <li class="item">
                    Without the right best practices &amp; documentation, software codebases can become impossible to use without consultants or additional technical resources.</li>
                <li class="item">
                    We can help transform the long-term stability of your software product, providing the visibility, clarity, and control you need to get your project on track.</li>
            </ul>
            <a class="action-button" title="Salvage an Existing Project" href="{{ relURL "use-cases/salvage-existing-project/" }}">Learn More</a>
        </div>

        <div class="tab-panel" role="tabpanel" tabindex="0" aria-labelledby="use-cases-tab-3" id="use-cases-panel-3" hidden>
            <h3 class="heading">Emergency CTO Leadership</h3>
            <ul class="list">
                <li class="item">
                    Technology &amp; software products need constant supervision from someone with the knowledge to reduce errors, spot problems, &amp; prevent downtime.</li>
                <li class="item">
                    When a company loses technical leadership or reaches unfamiliar territory, it’s critical to find the right technical expertise as soon as possible.</li>
                <li class="item">
                    With access to a fractional CTO, you can maintain best practices, hire developers faster, &amp; streamline operations at a fraction of the cost of a full-time CTO</li>
            </ul>
            <a class="action-button" title="Emergency CTO Leadership" href="{{ relURL "use-cases/emergency-cto-leadership/" }}">Learn More</a>
        </div>

        <div class="tab-panel" role="tabpanel" tabindex="0" aria-labelledby="use-cases-tab-4" id="use-cases-panel-4" hidden>
            <h3 class="heading">Empower an Existing Engineering Team</h3>
            <ul class="list">
                <li class="item">
                    Even a talented development team can become overwhelmed by customer complaints, technical issues, or aggressive deadlines.</li>
                <li class="item">
                    When a core development team is rushed or overworked, companies risk losing control over product quality &amp; missing critical software errors.</li>
                <li class="item">
                    With access to on-demand engineering resources, you can help support your core team and make it easier for them to adapt as the environment changes.</li>
            </ul>
            <a class="action-button" title="Empower an Existing Engineering Team" href="{{ relURL "use-cases/empower-existing-engineering-team/" }}">Learn More</a>
        </div>

        <div class="tab-panel" role="tabpanel" tabindex="0" aria-labelledby="use-cases-tab-5" id="use-cases-panel-5" hidden>
            <h3 class="heading">Accelerate Development &amp; Maximize Capacity</h3>
            <ul class="list">
                <li class="item">
                    Software development is a delicate balancing act between speed &amp; quality, which can be difficult to achieve.</li>
                <li class="item">
                    Any team can build a high-quality product with enough time, but very few teams can deliver a high level of quality at a competitive pace.</li>
                <li class="item">
                    With access to on-demand engineering resources, you can accelerate development speed while maintaining product quality.</li>
            </ul>
            <a class="action-button" title="Accelerate Development & Maximize Capacity" href="{{ relURL "use-cases/accelerate-development-maximize-capacity/" }}">Learn More</a>
        </div>

        <div class="tab-panel" role="tabpanel" tabindex="0" aria-labelledby="use-cases-tab-6" id="use-cases-panel-6" hidden>
            <h3 class="heading">Automate Product QA &amp; Testing</h3>
            <ul class="list">
                <li class="item">
                    The larger a software product grows, the harder it becomes to maintain, improve, and optimize it over time without issues emerging.</li>
                <li class="item">
                    Without an effective system for ongoing product testing, it’s easy for hidden issues to devolve into an uncontrollable, unsustainable situation.</li>
                <li class="item">
                    With our fully-managed software testing &amp; QA services, you can accelerate development cycles while minimizing costly mistakes &amp; product errors.</li>
            </ul>
            <a class="action-button" title="Automate Product QA &amp; Testing" href="{{ relURL "use-cases/automate-product-qa-testing/" }}">Learn More</a>
        </div>

    </div>
</div>
</div>