{{/* Service Schema - JSON-LD structured data for service pages */}}
{{- if and (eq .Section "services") (eq .Kind "page") -}}
{{- $schema := dict 
  "@context" "https://schema.org"
  "@type" "Service"
  "name" .Title
  "description" (.Description | default .Summary | plainify | truncate 300)
  "url" .Permalink
  "provider" (dict
    "@type" "Organization"
    "name" .Site.Title
    "url" .Site.BaseURL
    "email" .Site.Params.email
    "telephone" .Site.Params.phone
  )
  "areaServed" (dict
    "@type" "Place"
    "name" "Worldwide"
  )
  "audience" (dict
    "@type" "Audience"
    "audienceType" "Business"
  )
  "category" "Professional Services"
  "serviceType" .Title
  "offers" (dict
    "@type" "Offer"
    "name" .Title
    "description" (.Description | default .Summary | plainify)
    "seller" (dict
      "@type" "Organization"
      "name" .Site.Title
    )
    "availability" "https://schema.org/InStock"
    "deliveryMethod" "https://schema.org/OnSitePickup"
    "areaServed" "Worldwide"
  )
  "additionalType" "https://schema.org/ProfessionalService"
  "brand" (dict
    "@type" "Brand"
    "name" .Site.Title
  )
-}}
{{- with .Params.metatags.image -}}
  {{- $schema = merge $schema (dict "image" (dict
    "@type" "ImageObject"
    "url" (printf "%scontent/services/%s%s" $.Site.BaseURL $.File.Dir .)
    "width" 1200
    "height" 630
  )) -}}
{{- end -}}
<script type="application/ld+json">
{{ $schema | jsonify }}
</script>
{{- end -}}