{{ define "header" }}
  {{- $cssResources := slice
    (resources.Get "css/foundations/css-variables.css")
    (resources.Get "css/dynamic-404.css" | resources.ExecuteAsTemplate "css/dynamic.css" .)
    (resources.Get "css/404.css")
    (resources.Get "css/vendors/base-4.min.css")
    (resources.Get "css/legacy-theme-skin.css")
    (resources.Get "css/dynamic-icons.css" | resources.ExecuteAsTemplate "css/dynamic586.css" .)
    (resources.Get "css/586.css")
    (resources.Get "css/footer.css")
  }}
  {{ partialCached "assets/css-processor.html" (dict "resources" $cssResources "bundleName" "not_found") "not_found" }}
{{ end }}

{{ define "main" }}
  <div id="fl-main-content" class="fl-page-content error-page" role="main">
    <div
      class="fl-builder-content fl-builder-content-713 fl-builder-global-templates-locked"
      data-post-id="713">
      <div
        class="fl-row fl-row-full-width fl-row-bg-none error-page__hero fl-row-default-height fl-row-align-center fl-row-has-layers"
        data-node="cydnh3z89fkb">
        <div class="fl-row-content-wrap">
          <div
            class="fl-builder-layer fl-builder-shape-layer fl-builder-bottom-edge-layer fl-builder-shape-rect">
            <svg
              class="fl-builder-layer-align-bottom-center"
              viewBox="0 0 800 450"
              preserveAspectRatio="none">
              <defs></defs>

              <g class="fl-shape-content">
                <rect
                  class="fl-shape"
                  x="0"
                  y="0"
                  width="800"
                  height="450"></rect>
              </g>
            </svg>
          </div>
          <div class="fl-row-content fl-row-fixed-width">
            <div
              class="fl-col-group fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width fl-col-group-responsive-reversed error-page__main-section"
              data-node="p0fg9w7ec5ut">
              <div
                class="fl-col error-page__message-col fl-col-small fl-col-small-custom-width"
                data-node="0ptma2d86ugo">
                <div class="fl-col-content">
                  <div
                    class="fl-module fl-module-heading error-page__heading"
                    data-node="sh625973faxk">
                    <div class="fl-module-content">
                      <h1 class="fl-heading">
                        <span class="fl-heading-text"
                          >We can’t seem to find the page you’re looking for
                          :(</span
                        >
                      </h1>
                    </div>
                  </div>
                  <div
                    class="fl-module fl-module-rich-text error-page__message"
                    data-node="0qz7321m48js">
                    <div class="fl-module-content">
                      <div class="fl-rich-text">
                        <p>Sorry, the page you requested could not be found.</p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="fl-module fl-module-button error-page__home-button"
                    data-node="ar7hkgve10jq">
                    <div class="fl-module-content">
                      <div
                        class="fl-button-wrap fl-button-width-auto fl-button-left">
                        <a
                          href="{{ relURL "" }}"
                          target="_self"
                          class="fl-button">
                          <span class="fl-button-text">Back to Homepage</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="fl-col error-page__image-col fl-col-small fl-col-small-custom-width"
                data-node="1amo8q937zkf">
                <div class="fl-col-content">
                  <div
                    class="fl-module fl-module-photo error-page__image"
                    data-node="0zfdxjbv1k3s">
                    <div class="fl-module-content">
                      <div class="fl-photo fl-photo-align-center">
                        <div class="fl-photo-content fl-photo-img-png">
                          {{ $image := resources.Get "img/404.png" }}
                          {{ partial "img/404.html" (dict "image" $image "title" "404") }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="fl-col-group error-page__spacer-section"
              data-node="wngd074viayh">
              <div class="fl-col error-page__spacer-col" data-node="1fwv4o9g2ict">
                <div class="fl-col-content">
                  <div
                    class="fl-module fl-module-pp-spacer error-page__spacer fl-visible-desktop fl-visible-large fl-visible-medium"
                    data-node="ndgsicr250p4">
                    <div class="fl-module-content"></div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="fl-col-group fl-col-group-custom-width error-page__cta-section"
              data-node="l0ph4ozc7qgv">
              <div
                class="fl-col error-page__cta-col fl-col-small-custom-width"
                data-node="jucnbqyew63f">
                <div class="fl-col-content">
                  <div
                    class="fl-module fl-module-heading error-page__cta-heading"
                    data-node="qdmba8hk6c5u">
                    <div class="fl-module-content">
                      <h2 class="fl-heading">
                        <span class="fl-heading-text"
                          >Working with teams, CTOs praise us as
                          “super-friendly” and “reliable”</span
                        >
                      </h2>
                    </div>
                  </div>
                  <div
                    class="fl-module fl-module-rich-text error-page__cta-text"
                    data-node="waie8sk5qlnj">
                    <div class="fl-module-content">
                      <div class="fl-rich-text">
                        <p>
                          Talk with one of our experts to get a technical
                          strategy and planning session for your project at no
                          cost.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="fl-module fl-module-button error-page__cta-button"
                    data-node="fxvw9yp0o6l7">
                    <div class="fl-module-content">
                      <div
                        class="fl-button-wrap fl-button-width-auto fl-button-center">
                        <a
                          href="{{ relURL "free-consultation/" }}"
                          target="_self"
                          class="fl-button">
                          <span class="fl-button-text">Talk to an Expert</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
