{{ define "header" }}

{{ end }}
{{ define "main" }}
<div id="fl-main-content" class="fl-page-content" itemprop="mainContentOfPage" role="main">
    <div class="fl-builder-content fl-builder-content-713 fl-builder-global-templates-locked" data-post-id="713">
        <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-cydnh3z89fkb fl-row-default-height fl-row-align-center fl-row-has-layers"
             data-node="cydnh3z89fkb">
            <div class="fl-row-content-wrap">
                <div class="fl-builder-layer fl-builder-shape-layer fl-builder-bottom-edge-layer fl-builder-shape-rect">
                    <svg class="fl-builder-layer-align-bottom-center" viewBox="0 0 800 450" preserveAspectRatio="none">

                        <defs>
                        </defs>

                        <g class="fl-shape-content">
                            <rect class="fl-shape" x="0" y="0" width="800" height="450"></rect>
                        </g>
                    </svg>
                </div>
                <div class="fl-row-content fl-row-fixed-width fl-node-content">

                    <div class="fl-col-group fl-node-p0fg9w7ec5ut fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width fl-col-group-responsive-reversed"
                         data-node="p0fg9w7ec5ut">
                        <div class="fl-col fl-node-0ptma2d86ugo fl-col-small fl-col-small-custom-width"
                             data-node="0ptma2d86ugo">
                            <div class="fl-col-content fl-node-content">
                                <div class="fl-module fl-module-heading fl-node-sh625973faxk" data-node="sh625973faxk">
                                    <div class="fl-module-content fl-node-content">
                                        <h1 class="fl-heading">
                                            <span class="fl-heading-text">We can’t seem to find the page you’re looking for :(</span>
                                        </h1>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-rich-text fl-node-0qz7321m48js"
                                     data-node="0qz7321m48js">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-rich-text">
                                            <p>Sorry, the page you requested could not be found.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-button fl-node-ar7hkgve10jq" data-node="ar7hkgve10jq">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-button-wrap fl-button-width-auto fl-button-left">
                                            <a href="{{ absURL "" }}" target="_self" class="fl-button">
                                            <span class="fl-button-text">Back to Homepage</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fl-col fl-node-1amo8q937zkf fl-col-small fl-col-small-custom-width"
                             data-node="1amo8q937zkf">
                            <div class="fl-col-content fl-node-content">
                                <div class="fl-module fl-module-photo fl-node-0zfdxjbv1k3s" data-node="0zfdxjbv1k3s">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-photo fl-photo-align-center" itemscope
                                             itemtype="https://schema.org/ImageObject">
                                            <div class="fl-photo-content fl-photo-img-png">
                                                <img loading="lazy" decoding="async"
                                                     class="fl-photo-img wp-image-714 size-full"
                                                     src="{{ absURL "wp-content/uploads/2022/10/404.png" }}"
                                                alt="404" itemprop="image" height="750" width="802"
                                                srcset="{{ "/wp-content/uploads/2022/10/404.png" }} 802w,
                                                {{ "/wp-content/uploads/2022/10/404-300x281.png" }} 300w,
                                                {{ "/wp-content/uploads/2022/10/404-768x718.png" }} 768w"
                                                sizes="(max-width: 802px) 100vw, 802px" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fl-col-group fl-node-wngd074viayh" data-node="wngd074viayh">
                        <div class="fl-col fl-node-1fwv4o9g2ict" data-node="1fwv4o9g2ict">
                            <div class="fl-col-content fl-node-content">
                                <div class="fl-module fl-module-pp-spacer fl-node-ndgsicr250p4 fl-visible-desktop fl-visible-large fl-visible-medium"
                                     data-node="ndgsicr250p4">
                                    <div class="fl-module-content fl-node-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fl-col-group fl-node-l0ph4ozc7qgv fl-col-group-custom-width" data-node="l0ph4ozc7qgv">
                        <div class="fl-col fl-node-jucnbqyew63f fl-col-small-custom-width" data-node="jucnbqyew63f">
                            <div class="fl-col-content fl-node-content">
                                <div class="fl-module fl-module-heading fl-node-qdmba8hk6c5u" data-node="qdmba8hk6c5u">
                                    <div class="fl-module-content fl-node-content">
                                        <h2 class="fl-heading">
                                            <span class="fl-heading-text">Working with teams, CTOs praise us as “super-friendly” and “reliable”</span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-rich-text fl-node-waie8sk5qlnj"
                                     data-node="waie8sk5qlnj">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-rich-text">
                                            <p>Talk with one of our experts to get a technical strategy and planning
                                                session for your project at no cost.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-button fl-node-fxvw9yp0o6l7" data-node="fxvw9yp0o6l7">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-button-wrap fl-button-width-auto fl-button-center">
                                            <a href="{{ absURL " free-consultation/" }}" target="_self"
                                            class="fl-button">
                                            <span class="fl-button-text">Talk to an Expert</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
