<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel="profile" href="https://gmpg.org/xfn/11" />

    {{ block "title" . }}
      <title>{{ .Title }}</title>
    {{ end }}

    {{ $description := "" }}
    {{ if eq .Section "tags" }}
      {{ $tagData := index .Site.Data.tags (lower .Title) }}
      {{ $description = $tagData.description | default "" }}
    {{ else }}
      {{ $description = .Description | default .Params.description | default "" }}
    {{ end }}
    <meta name="description" content="{{ $description }}" />
    <meta property="og:description" content="{{ $description }}" />


    <meta name="robots" content="index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>

    {{ $canonical := .Permalink }}
    {{ if and (eq .Kind "taxonomy") (eq .Section "tags") }}
      {{ $canonical = $canonical | replace "/tags/" "/blog/tags/" }}
    {{ end }}
    <link rel="canonical" href="{{ $canonical }}" />


    {{ $ogType := "website" }}
    {{ if and (eq .Section "blog") (eq .Kind "page") }}{{ $ogType = "article" }}{{ end }}
    <meta property="og:type" content="{{ $ogType }}">

    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{ .Title }} - JTWay, JetThoughts’ team blog" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="jetthoughts.com" />
    <meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title}} - JetThoughts' team blog, JTWay" />
    <meta name="twitter:site" content="@jetthoughts" />

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">

    {{ partialCached "page/cover_image.html" (.Page.Resources.Get .Page.Params.metatags.image) .RelPermalink }}

    <style>
        .logo-image-main {
            width: 200px;
            height: 36px;
            display: inline-block
        }
    </style>
    {{ block "header" . }} {{ end }}

    {{ partialCached "page/favicons.html" . "favicons" }}
    {{ partial "page/analytics.html" . }}
    {{ $favicon := resources.Get "/img/favicon/favicon.ico" | fingerprint "md5" }}
    <link rel="shortcut icon" href="{{ $favicon.RelPermalink }}">
    <meta name="msapplication-TileColor" content="#00aba9">
    {{ $browserConfig := resources.Get "img/favicon/browserconfig.xml" | resources.ExecuteAsTemplate "browserconfig.xml" . | fingerprint "md5" }}
    <meta name="msapplication-config" content="{{ $browserConfig.RelPermalink }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">

    {{ $navCss := resources.Get "css/navigation.css" | minify | fingerprint "md5" }}
    <link rel="preload" as="style" href="{{ $navCss.RelPermalink }}">
    <link rel="stylesheet" href="{{ $navCss.RelPermalink }}">
</head>

<body class="privacy-policy page-template-default page page-id-3059 fl-builder fl-theme-builder-header fl-theme-builder-header-header fl-theme-builder-footer fl-theme-builder-footer-footer fl-framework-base-4 fl-preset-default fl-full-width fl-search-active" itemscope="itemscope" itemtype="https://schema.org/WebPage" lang="en">
{{ if ne hugo.Environment "production" }}
  {{ partial "debug/template-info.html" . }}
{{ end }}
<div class="fl-page">

{{ partialCached "page/header.html" . "header" }}

{{ block "main" . }} {{ end }}

</div>
{{ partialCached "page/footer.html" . "footer" }}
{{ block "footer" . }} {{ end }}

{{ partialCached "page/site-scripts" . "site-scripts" }}
<script>
if ('serviceWorker' in navigator) navigator.serviceWorker.register('/sw.js');
</script>
</body>
</html>
