{{ define "header" }}
  {{ partial "header/critical/homepage.html" . }}
{{ end }}

{{ define "footer" }}

  {{- $nonCriticalResources := slice
    (resources.Get "css/companies.css")
    (resources.Get "css/footer.css")
    (resources.Get "css/homepage.css")
    (resources.Get "css/fl-homepage-layout.css")
    (resources.Get "css/bem-home-page-minimal.css")
    (resources.Get "css/theme-main.css")
    (resources.Get "css/style.css")
    (resources.Get "css/services-layout.css")
    (resources.Get "css/technologies.css")
    (resources.Get "css/cta-backgrounds.css" | resources.ExecuteAsTemplate "css/dynamic.css" .)
    (resources.Get "css/dynamic-icons.css" | resources.ExecuteAsTemplate "css/dynamic586.css" .)
    (resources.Get "css/use-cases-dynamic.css" | resources.ExecuteAsTemplate "css/use-cases-dynamic.css" .)
  }}

  {{ partial "assets/css-processor.html" (dict "resources" $nonCriticalResources "bundleName" "homepage") }}

  {{ $tabsResources := slice (resources.Get "js/tabs.js") }}
  {{ partial "assets/js-processor.html" (dict "resources" $tabsResources "bundleName" "tabs" "defer" true) }}

  {{ partial "header/json-ld-company.html" . }}
{{ end }}

{{ define "main" }}
  <div id="fl-main-content" class="fl-page-content" role="main">
    <div class="fl-content-full container">
      <div class="row">
        <div class="fl-content col-md-12">
          <article
            class="fl-post post-590 page type-page status-publish hentry"
            id="fl-post-590">
            <div class="fl-post-content clearfix">
              <div
                class="fl-builder-content fl-builder-content-590 fl-builder-content-primary fl-builder-global-templates-locked"
                data-post-id="590">
                {{ partial "homepage/hero.html" . }}
                {{ partial "homepage/stats.html" . }}
                {{ partial "homepage/services.html" . }}
                <div
                  class="fl-row fl-row-full-width fl-row-bg-photo c-why-us fl-row-default-height fl-row-align-center fl-row-has-layers"
                  data-node="pym08gf9wr2o">
                  <div class="fl-row-content-wrap">
                    <div
                      class="fl-builder-layer fl-builder-shape-layer fl-builder-bottom-edge-layer fl-builder-shape-rect">
                      {{ partial "svg" "theme/bottom-blue-curved-line" }}
                    </div>
                    <div
                      id="why-us"
                      class="fl-row-content fl-row-fixed-width fl-node-content">
                      <div
                        class="fl-col-group c-why-us__column-group fl-col-group-custom-width"
                        data-node="e4o7jgbfk6iz">
                        <div
                          class="fl-col c-why-us__content-column fl-col-small-custom-width fl-col-has-cols"
                          data-node="upxq4sk52c3o">
                          <div class="fl-col-content fl-node-content">
                            <div
                              class="fl-module fl-module-rich-text c-why-us__eyebrow"
                              data-node="yhi0uwsxjfr7">
                              <div class="fl-module-content fl-node-content">
                                <div class="fl-rich-text c-content-block__text">
                                  <p class="c-content-block__paragraph">WHY US?</p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-heading c-why-us__heading"
                              data-node="hmwu2rp1s7e5">
                              <div class="fl-module-content fl-node-content">
                                <h2 class="fl-heading">
                                  <span class="fl-heading-text"
                                    >We help you create effective digital
                                    solutions</span
                                  >
                                </h2>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text c-why-us__description"
                              data-node="9zbkom73fw82">
                              <div class="fl-module-content fl-node-content">
                                <div class="fl-rich-text c-content-block__text">
                                  <p class="c-content-block__paragraph">
                                    Combining Talent, Technical Strategy, &amp;
                                    Robust Development Processes
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-col-group c-feature-cards__grid fl-col-group-nested fl-col-group-custom-width fl-col-group-equal-height"
                              data-node="lfzepx94ws8m">
                              <div
                                class="fl-col c-feature-cards__item-column fl-col-small fl-col-small-custom-width"
                                data-node="tr8ya9nhipmj">
                                <div class="fl-col-content fl-node-content">
                                  <div
                                    class="fl-module fl-module-pp-infobox c-feature-card"
                                    data-node="5oyrwk91ufhg">
                                    <div
                                      class="fl-module-content fl-node-content">
                                      <div class="pp-infobox-wrap">
                                        <div class="pp-infobox layout-5">
                                          <div class="pp-icon-wrapper animated">
                                            <div class="pp-infobox-image">
                                              {{ partial "svgiw" (dict "svg" "theme/homepage_prioritize"  "width" "30" "height" "30") }}
                                            </div>
                                          </div>
                                          <div class="pp-infobox-title-wrapper">
                                            <h3 class="pp-infobox-title">
                                              We Prioritize You
                                            </h3>
                                          </div>
                                          <div class="pp-infobox-description">
                                            <div class="pp-description-wrap">
                                              <p>
                                                We only work with a few clients
                                                at a time &amp; make those
                                                selective clients our primary
                                                focus. By putting our clients in
                                                the spotlight, we drastically
                                                improve alignment, increase work
                                                quality.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="fl-col c-feature-cards__item-column fl-col-small fl-col-small-custom-width"
                                data-node="oq86d7v9jk2x">
                                <div class="fl-col-content fl-node-content">
                                  <div
                                    class="fl-module fl-module-pp-infobox c-feature-card"
                                    data-node="5b7e9qxr14h8">
                                    <div
                                      class="fl-module-content fl-node-content">
                                      <div class="pp-infobox-wrap">
                                        <div class="pp-infobox layout-5">
                                          <div class="pp-icon-wrapper animated">
                                            <div class="pp-infobox-image">
                                              {{ partial "svgiw" (dict "svg" "theme/homepage_help_adapt"  "width" "30" "height" "30") }}
                                            </div>
                                          </div>
                                          <div class="pp-infobox-title-wrapper">
                                            <h3 class="pp-infobox-title">
                                              We Help You Adapt
                                            </h3>
                                          </div>
                                          <div class="pp-infobox-description">
                                            <div class="pp-description-wrap">
                                              <p>
                                                Our team has a tremendous amount
                                                of experience helping startups
                                                thrive. Whether it’s
                                                pre-revenue, seed stage, or
                                                post-funding, we can help take
                                                your company to the next level
                                                from any stage.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="fl-col c-feature-cards__item-column fl-col-small fl-col-small-custom-width"
                                data-node="oljqy5bpn7fu">
                                <div class="fl-col-content fl-node-content">
                                  <div
                                    class="fl-module fl-module-pp-infobox c-feature-card"
                                    data-node="gyioc8tzs3nr">
                                    <div
                                      class="fl-module-content fl-node-content">
                                      <div class="pp-infobox-wrap">
                                        <div class="pp-infobox layout-5">
                                          <div class="pp-icon-wrapper animated">
                                            <div class="pp-infobox-image">
                                              {{ partial "svgiw" (dict "svg" "theme/homepage_reliable"  "width" "30" "height" "30") }}
                                            </div>
                                          </div>
                                          <div class="pp-infobox-title-wrapper">
                                            <h3 class="pp-infobox-title">
                                              We Are Reliable
                                            </h3>
                                          </div>
                                          <div class="pp-infobox-description">
                                            <div class="pp-description-wrap">
                                              <p>
                                                Technical oversight and the
                                                development process is critical
                                                to the success of your project.
                                                We provide the structure needed
                                                to consistently deliver results
                                                on-time and optimize product
                                                performance.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="fl-col c-feature-cards__item-column fl-col-small fl-col-small-custom-width"
                                data-node="mtgai4swuk6v">
                                <div class="fl-col-content fl-node-content">
                                  <div
                                    class="fl-module fl-module-pp-infobox c-feature-card"
                                    data-node="woz0n3a5ep9x">
                                    <div
                                      class="fl-module-content fl-node-content">
                                      <div class="pp-infobox-wrap">
                                        <div class="pp-infobox layout-5">
                                          <div class="pp-icon-wrapper animated">
                                            <div class="pp-infobox-image">
                                              {{ partial "svgiw" (dict "svg" "theme/homepage_simplify_costs"  "width" "30" "height" "30") }}
                                            </div>
                                          </div>
                                          <div class="pp-infobox-title-wrapper">
                                            <h3 class="pp-infobox-title">
                                              We Simplify Costs
                                            </h3>
                                          </div>
                                          <div class="pp-infobox-description">
                                            <div class="pp-description-wrap">
                                              <p>
                                                Without a repeatable system for
                                                software development, it’s easy
                                                to lose control over both costs
                                                &amp; timeline. We provide
                                                turnkey solutions that are
                                                designed to be faster, cheaper,
                                                and easier to manage.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="cta"
                        class="fl-col-group c-cta-section fl-col-group-custom-width"
                        data-node="3izxuk4et0wy"
                        style="margin-bottom: 30px">
                        <div
                          class="fl-col c-cta-section__content-column fl-col-small-custom-width"
                          data-node="04h8akisgvow">
                          <div class="fl-col-content fl-node-content">
                            <div
                              class="fl-module fl-module-heading c-cta-section__heading"
                              data-node="pmt8g6z4fiqj">
                              <div class="fl-module-content fl-node-content">
                                <h2 class="fl-heading">
                                  <span class="fl-heading-text"
                                    >Working with teams, CTOs praise us as
                                    “trustworthy” and “reliable”</span
                                  >
                                </h2>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text c-cta-section__description"
                              data-node="evzqukyis4x5">
                              <div class="fl-module-content fl-node-content">
                                <div class="fl-rich-text">
                                  <p>
                                    Talk with one of our experts to get a
                                    technical strategy and planning session for
                                    your project at no cost.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-button c-cta-section__button"
                              data-node="n0ztf7v9mspi">
                              <div class="fl-module-content fl-node-content">
                                <div
                                  class="fl-button-wrap fl-button-width-auto fl-button-center">
                                  <a
                                    href="{{ relURL "free-consultation/" }}"
                                    target="_self"
                                    class="fl-button">
                                    <span class="fl-button-text"
                                      >Talk to an Expert</span
                                    >
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      {{ partialCached "page/use-cases.html" (dict "addHeadline" true) (printf "use-cases-with-headline-%s-%s" .Site.Language.Lang .RelPermalink) }}

                      {{ partialCached "page/testimonials.html" . (printf "testimonials-%s-%s" .Site.Language.Lang .RelPermalink) }}
                      <div
                        id="cta-contact_us"
                        class="fl-col-group c-contact-section fl-col-group-custom-width"
                        data-node="niok604vy81f">
                        <div
                          class="fl-col c-contact-section__content-column fl-col-small-custom-width fl-col-has-cols blue-border"
                          data-node="8x91uqrnkeb7">
                          <div class="fl-col-content fl-node-content">
                            <div
                              class="fl-module fl-module-rich-text c-contact-section__intro-text"
                              data-node="rujwd9mzxche">
                              <div
                                class="fl-module-content fl-node-content"></div>
                            </div>
                            <div
                              class="fl-module fl-module-heading c-contact-section__heading"
                              data-node="fa7hjib92cpv">
                              <div class="fl-module-content fl-node-content">
                                <h2 class="fl-heading">
                                  <span class="fl-heading-text"
                                    >Let’s get started now</span
                                  >
                                </h2>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text c-contact-section__description"
                              data-node="9hf5wet31z02">
                              <div class="fl-module-content fl-node-content">
                                <div class="fl-rich-text">
                                  <p>
                                    Get in touch with one of our experts to get
                                    a technical strategy &amp; planning session
                                    for your project at no cost.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-pp-spacer c-contact-section__spacer fl-visible-desktop fl-visible-large fl-visible-medium"
                              data-node="toa2hwegbp4q">
                              <div class="fl-module-content fl-node-content">
                                <div class="pp-spacer-module"></div>
                              </div>
                            </div>

                            <div class="fl-module-content fl-node-content">
                              <div
                                class="fl-button-wrap-center fl-button-width-auto fl-button-center">
                                <a
                                  href="/contact-us/"
                                  target="_self"
                                  class="fl-button">
                                  <span class="fl-button-text">Contact Us</span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- .fl-post-content -->
          </article>
          <!-- .fl-post -->
        </div>
      </div>
    </div>
  </div>
{{ end }}
