{{ define "title" }}
  <title>{{ .Title }} - JTWay, JetThoughts’ team blog</title>
{{ end }}

{{ define "header" }}

{{- $cssFiles := slice
  (resources.Get "css/586-dynamic.css" | resources.ExecuteAsTemplate "css/dynamic586.css" .)
  (resources.Get "css/services-layout.css")
  (resources.Get "css/style.css")
  (resources.Get "css/base-layout.css")
  (resources.Get "css/homepage-layout.css")
  (resources.Get "css/component-bundle.css")
  (resources.Get "css/theme-main.css")
  (resources.Get "css/single-post.css")
  (resources.Get "css/footer.css")
}}

{{ partial "assets/css-processor.html" (dict 
  "resources" $cssFiles 
  "bundleName" "blog-single"
  "context" .
  "media" "all"
) }}

{{ with .Params.created_at }}
<meta content='{{ . | time.Format "2006-01-02T15:04:05Z07:00" }}' property='article:published_time'/>
{{ end }}

<meta property="og:type" content="article">

<meta content='{{ .Lastmod | time.Format "2006-01-02T15:04:05Z07:00" }}' property='article:modified_time'/>
{{ partial "blog/json-ld.html" . }}
{{ end }}

{{ define "main" }}

<div id="fl-main-content" class="blog" itemprop="mainContentOfPage" role="main">
  <div class="fl-row-content fl-row-fixed-width fl-node-content">

    <article class="single-content" style="max-width: 960px; margin:0 auto; padding-left:18px;padding-right:18px"
             itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

      <header>
        <h1 class="heading">{{ .Title }}</h1>
        <div class="post-tags" style="margin-bottom: 1rem;">{{ range .Params.tags }}<a href="/blog/tags/{{ . | urlize }}/">#{{ . }}</a> {{ end }}</div>
        {{ if .Params.created_at }}
        <div class="post-date" style="color: rgba(33, 37, 41, 0.75);margin-bottom: 1rem;">{{ dateFormat "Jan 2, 2006" .Params.created_at }}</div>
        {{ end }}
      </header>

      <div class="fl-rich-text" style="max-width: 43rem;">
        {{ .Content }}
      </div>
    </article>

    <div class="single-content single-post-wrapper">

      {{ if .Params.dev_to_url }}
        <a href="https://x.com/intent/tweet?text=Check%20out%20this%20amazing%20blogpost!&url={{ .Permalink }}" class="btn btn-primary comment-link" target="_JTComments" rel="nofollow noopener">Comments</a>
      {{ end }}

      {{ partial "blog/share.html" . }}

      {{ partial "blog/related-posts.html" . }}
    </div>

  </div>
</div>

{{ end }}
