{{/* Get file that matches the filename as specified as src="" */}}
{{ $src := .Page.Resources.Get (printf "%s" (.Destination | safeURL)) }}
{{ $alt := .PlainText | safeHTML }}

{{ if $src }}
{{/* Check if image is a GIF - if so, render it directly */}}
{{ if eq (path.Ext $src.RelPermalink | lower) ".gif" }}
  <img loading="lazy"
       src="{{ ($src | fingerprint).RelPermalink }}"
       alt="{{ $alt }}"
       height="{{ $src.Height }}"
       width="{{ $src.Width }}">
{{ else }}
  {{/* Get formats and sizes from config */}}
  {{/* From less common to most common. For example avif webp jpeg */}}
  {{ $formats := slice "webp" "jpeg" }}
  {{ $sizes := slice 400 800 1200 1600 }}
  {{/* default format if browser doesn't support picture element */}}
  {{ $defaultFormat := "jpeg" }}

  {{/* Create optimized versions of the original image in the specified formats */}}
  {{ $data := newScratch }}

  {{ range $format := $formats }}
      {{ range $index, $size := $sizes }}
          {{ $resizedImage := $src }}

          {{ if gt $src.Width $size }}
              {{ $resizedImage = $src.Resize (printf "%dx %s" $size $format) }}
          {{ else }}
              {{ $resizedImage = $src.Resize (printf "%dx%d %s" $src.Width $src.Height $format) }}
          {{ end }}

          {{ $data.Set (printf "%s-%d" $format $index) $resizedImage }}
      {{ end }}
  {{ end }}

  <picture>
      {{ range $format := $formats }}
          {{ $srcset := slice }}
          {{ range $index, $size := $sizes }}
              {{ $image := $data.Get (printf "%s-%d" $format $index) }}
              {{ $srcset = $srcset | append (printf "%s %dw" $image.RelPermalink $size) }}
          {{ end }}
          <source type="image/{{ $format }}" srcset="{{ delimit $srcset ", " }}"
                  sizes="(max-width: 48rem) 100vw, 48rem" height="{{ $src.Height }}" width="{{ $src.Width }}">
      {{ end }}
      <img loading="lazy"
           src="{{ ($data.Get (printf "%s-0" $defaultFormat)).RelPermalink }}"
           alt="{{ $alt }}"
           height="{{ $src.Height }}"
           width="{{ $src.Width }}">
  </picture>
{{ end }}

{{ else }}

{{/* Render a default img tag if $src is not found */}}
<img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ $alt }}">

{{ end }}
