{{/*
  Reusable CSS Bundle Processor
  Usage: {{ partial "assets/bundle.html" (dict "cssFiles" $cssFiles "page" "pageName") }}
  Note: cssFiles should be a slice of resource objects from resources.Get
*/}}

{{- $cssFiles := .cssFiles | default slice -}}
{{- $page := .page | default "default" -}}
{{- $media := .media | default "all" -}}

{{/* Create bundle name and process CSS */}}
{{- if $cssFiles -}}
  {{- $bundleName := printf "css/bundle-%s.css" $page -}}
  
  {{/* Enhanced asset processing with integrity and cache optimization */}}
  {{- $css := $cssFiles | resources.Concat $bundleName | minify | fingerprint "sha384" | resources.PostProcess -}}
  
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous" media="{{ $media }}" />
{{- end -}}