.fl-col-group-equal-height .c-infobox, .fl-col-group-equal-height .c-infobox .fl-module-content, .fl-col-group-equal-height .c-infobox .fl-module-content .pp-infobox-wrap, .fl-col-group-equal-height .c-infobox .fl-module-content .pp-infobox-wrap .pp-infobox, .fl-col-group-equal-height .c-infobox .fl-module-content .pp-infobox-wrap > .pp-infobox-link, .fl-col-group-equal-height .c-infobox .fl-module-content .pp-infobox-wrap > .pp-more-link {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 1px;
  max-width: 100%;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.fl-col-group-equal-height .c-infobox.fl-visible-large, .fl-col-group-equal-height .c-infobox.fl-visible-medium, .fl-col-group-equal-height .c-infobox.fl-visible-mobile {
  display: none;
}

.fl-col-group-equal-height .c-infobox.fl-visible-desktop {
  display: flex;
}

.fl-col-group-equal-height.fl-col-group-align-center .c-infobox .fl-module-content .pp-infobox-wrap .pp-infobox {
  justify-content: center;
}

.fl-col-group-equal-height.fl-col-group-align-top .c-infobox .fl-module-content .pp-infobox-wrap .pp-infobox {
  justify-content: flex-start;
}

.fl-col-group-equal-height.fl-col-group-align-bottom .c-infobox .fl-module-content .pp-infobox-wrap .pp-infobox {
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .fl-col-group-equal-height .c-infobox.fl-visible-desktop {
    display: none;
  }

  .fl-col-group-equal-height .c-infobox.fl-visible-large {
    display: flex;
  }
}

@media only screen and (max-width: 1115px) {
  .fl-col-group-equal-height .c-infobox.fl-visible-desktop {
    display: none;
  }

  .fl-col-group-equal-height .c-infobox.fl-visible-large {
    display: none;
  }

  .fl-col-group-equal-height .c-infobox.fl-visible-medium {
    display: flex;
  }
}

@media only screen and (max-width: 860px) {
  .fl-col-group-equal-height .c-infobox.fl-visible-desktop {
    display: none;
  }

  .fl-col-group-equal-height .c-infobox.fl-visible-large {
    display: none;
  }

  .fl-col-group-equal-height .c-infobox.fl-visible-medium {
    display: none;
  }

  .fl-col-group-equal-height .c-infobox.fl-visible-mobile {
    display: flex;
  }
}

.c-infobox .pp-infobox .pp-infobox-title-prefix {
  display: none;
}

.c-infobox .pp-infobox-title-wrapper .pp-infobox-title {
  margin-top: 30px;
  margin-bottom: 0px;
}

.c-infobox .pp-infobox-title-wrapper .pp-infobox-title a {
}

.c-infobox .pp-infobox-description {
  margin-top: 15px;
  margin-bottom: 0px;
}

.c-infobox .pp-infobox:hover .pp-infobox-title-prefix {
}

.c-infobox .pp-infobox:hover .pp-infobox-title {
}

.c-infobox .pp-infobox:hover .pp-infobox-title a {
}

.c-infobox .pp-infobox:hover .pp-infobox-description {
}

.c-infobox .pp-infobox-image {
  text-align: left
}

.fl-builder-content .c-infobox .pp-infobox-image img {
  height: auto;
  max-width: 100%;
}

.c-infobox .pp-infobox:hover .pp-infobox-image img {
}

.c-infobox .pp-infobox-icon-inner span.pp-icon, .c-infobox .pp-infobox-image img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.c-infobox .pp-infobox-wrap .pp-infobox {
  text-align: left;
}

.c-infobox .pp-infobox:hover {
}

.c-infobox .pp-infobox .animated {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  -ms-animation-duration: 500ms;
  animation-duration: 500ms;
}

.c-infobox .pp-infobox-wrap .layout-3-wrapper, .c-infobox .pp-infobox-wrap .layout-4-wrapper {
}

.c-infobox .pp-infobox-wrap .layout-1 .pp-heading-wrapper, .c-infobox .pp-infobox-wrap .layout-2 .pp-heading-wrapper {
  display: flex;
  align-items: center;
}

.c-infobox .pp-infobox-wrap .layout-2 .pp-infobox-description, .c-infobox .pp-infobox-wrap .layout-2 .pp-heading-wrapper {
  float: left;
}

@media only screen and (max-width: 1115px) {
  .c-infobox .pp-infobox {
    text-align: left;
  }
}

@media only screen and (max-width: 860px) {
  .c-infobox .pp-infobox-wrap .pp-infobox {
    text-align: left;
  }

  .c-infobox .pp-infobox-wrap .layout-2 .pp-infobox-description, .c-infobox .pp-infobox-wrap .layout-2 .pp-heading-wrapper {
    float: left;
  }
}

@media only screen and (max-width: 480px) {
  .c-infobox .pp-infobox-wrap .layout-3-wrapper, .c-infobox .pp-infobox-wrap .layout-4-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

.c-infobox .pp-infobox-title-wrapper .pp-infobox-title {
  font-size: 22px;
}

.fl-builder-content .c-infobox .pp-infobox-image img {
  width: 35px;
}

.c-infobox .pp-infobox {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.c-infobox .pp-more-link {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

.c-infobox .pp-infobox-wrap .layout-3 .pp-icon-wrapper {
  margin-right: 10px;
}

.c-infobox .pp-infobox-wrap .layout-4 .pp-icon-wrapper {
  margin-left: 10px;
}

