/* Benefits section spacer (second spacer between feature card rows) */

.c-spacer--benefits-2 {
  width: 100%;
}

.c-spacer--benefits-2__module .pp-spacer-module {
  height: 60px;
  width: 100%;
}

@media only screen and (max-width: 1115px) {
  .c-spacer--benefits-2__module .pp-spacer-module {
    height: 40px;
  }
}

@media only screen and (max-width: 860px) {
  .c-spacer--benefits-2__module .pp-spacer-module {
    height: 15px;
  }
}
