.fl-node-ha6dj4z7r51f:last-child > .fl-col-content {
  border-right-width: 0;
}

.pp-reviews-wrapper .pp-swiper-button svg {
  display: block;
}

.gform_footer {
  overflow: hidden;
}


/*Blog*/
.blog {
  padding: 135px 0 50px;
}

.blog img {
  max-width: 100%;
  height: auto;
}

.blog .container {
  max-width: 700px !important;
  margin: 0 auto !important;
}

.blog h1,
.blog .heading {
  font-size: 72px;
  line-height: 92px;
  font-weight: 700;
  margin: 0 0 32px !important;
}

.blog h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.blog h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 26px 0 0 !important;
}

.blog blockquote {
  margin: 42px 0 42px -20px;
  padding: 0 0 0 23px;
  box-shadow: inset 3px 0 0 0 #242424;
  position: relative;
}

.blog blockquote p {
  margin-top: 22px;
}

.blog blockquote h1,
.blog blockquote h2,
.blog blockquote h3 {
  margin-top: 30px;
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
  color: #6B6B6B;
}

.blog blockquote h1 a,
.blog blockquote h2 a,
.blog blockquote h3 a {
  color: #6B6B6B;
}

.blog blockquote h1:before,
.blog blockquote h2:before,
.blog blockquote h3:before {
  content: '';
  position: absolute;
  width: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}

.blog blockquote strong {
  font-style: italic;
}

.blog p {
  font-size: 20px;
  line-height: 32px;
}

.blog p a {
  color: inherit;
}

.blog .link {
  color: #6B6B6B;
  text-decoration: none;
}

/*Pagination*/
.pagination {
  list-style: none;
  padding: 100px 0 30px;
  margin: 0;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.pagination .page-item {
  display: inline-block;
  vertical-align: middle;
}

.pagination .page-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 16px;
  text-decoration: none;
  color: rgb(55, 65, 81);
  border-color: rgb(209, 213, 219);
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.pagination .page-link:hover {
  background-color: rgb(243 244 246);
}

.pagination .page-item:first-child .page-link {
  border-width: 1px;
  border-radius: 8px 0 0 8px;
}

.pagination .page-item:last-child .page-link {
  border-radius: 0 8px 8px 0;
}

.pagination .page-item.active .page-link {
  color: rgb(28, 100, 242);
  background-color: rgb(235, 245, 255);
}

input[type=submit]:disabled {
  opacity: 0.25
}

/*Buttons*/
.btn,
.btn:hover {
  padding: 10px 18px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 25px;
  text-decoration: none;
}

.btn-primary {
  background-color: #1a8cff;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #007af4;
}

/*Navigation*/
.top-panel {
  padding: 40px 20px 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.top-panel .container {
  max-width: 1280px;
  width: auto;
}

.top-panel .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-panel .logo {
  width: 200px;
  height: auto;
  display: block;
}

.navigation {
}

.navigation .list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation .item {
  margin-right: 20px;
}

.navigation .item:last-child {
  margin-right: 0;
}

.navigation .item.-arrow {
  position: relative;
}

.navigation .item.-arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
  width: 9px;
  height: 9px;
  border-color: #121212;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform-origin: 70% 70%;
  transform: rotate(45deg);
  transition: .3s;
}

.navigation .item:hover:before {
  transform: rotate(225deg);
  border-color: #1a8cff;
}

.navigation .link {
  padding: 30px 15px 30px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-weight: 300;
  color: #121212;
  text-decoration: none;
}

.navigation .item:hover .link {
  color: #1a8cff;
}

.navigation .active .link {
  color: #1a8cff;
}

.navigation .active.item:before {
  border-color: #1a8cff;
}

.navigation .item:hover .sub-menu {
  display: block;
}

.navigation .sub-menu {
  display: none;
  background-color: #fff;
  box-shadow: 0 10px 40px rgba(0,0,0,.1);
  border-radius: 20px;
  padding: 30px 30px 0;
  margin: 30px 0 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  text-align: left;
  width: 888px;
  transform: translateX(-40%);
  font-size: 0;
  line-height: 0;
}

.navigation .sub-menu:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #fff;
  right: unset!important;
  top: -20px !important;
  left: 45% !important;
  transform: rotate(270deg) !important;
}

.navigation .sub-item {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.navigation .sub-link {
  display: block;
  text-decoration: none;
}

.navigation .sub-image {
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: auto;
}

.navigation .sub-holder {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 45px;
  padding: 0 20px;
}

.navigation .sub-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #121212;
  transition: .3s;
}

.navigation .sub-item:hover .sub-name {
  color: #1a8cff;
}

.navigation .sub-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 5px;
  color: #7e7e7e;
}
