<div id="clients" class="fl-col-group fl-node-1iahtp297j5b fl-col-group-custom-width" data-node="1iahtp297j5b">
   <div class="fl-col fl-node-74apslrkzt59 fl-col-small-custom-width fl-col-has-cols" data-node="74apslrkzt59">
      <div class="fl-col-content fl-node-content">
         <div class="fl-module fl-module-rich-text fl-node-fly7i4ba56vm" data-node="fly7i4ba56vm">
            <div class="fl-module-content fl-node-content">
               <div class="fl-rich-text c-content-block__text">
                  <p class="c-content-block__paragraph">CLIENTS + CASE STUDIES</p>
               </div>
            </div>
         </div>
         <div class="fl-module fl-module-heading fl-node-u7al3nqdbz5k" data-node="u7al3nqdbz5k">
            <div class="fl-module-content fl-node-content">
               <h2 class="fl-heading">
                  <span class="fl-heading-text">Our client experiences</span>
               </h2>
            </div>
         </div>
         <div class="fl-col-group fl-node-57684l13ktgb fl-col-group-nested fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width" data-node="57684l13ktgb">
            <div class="fl-col fl-node-n23v5ji8wk41 fl-col-small fl-col-small-custom-width" data-node="n23v5ji8wk41">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-rich-text fl-node-adg2vro8wqt6" data-node="adg2vro8wqt6">
                     <div class="fl-module-content fl-node-content">
                        <div class="fl-rich-text c-content-block__text">
                           <p class="c-content-block__paragraph">We've delivered successful project outcomes in a variety of industries, ranging from early-stage startups to established enterprises.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="fl-col fl-node-pqa234eb9d50 fl-col-small fl-col-small-custom-width" data-node="pqa234eb9d50">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-button fl-node-5uitzm02y7oj" data-node="5uitzm02y7oj">
                     <div class="fl-module-content fl-node-content">
                        <div class="fl-button-wrap fl-button-width-auto fl-button-right">
                           <a href="{{ relURL "clients/" }}" target="_self" class="fl-button">
                           <span class="fl-button-text">View All Clients</span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="fl-module fl-module-pp-content-grid fl-node-ocvfdn5wibp8 jt-clickable" data-node="ocvfdn5wibp8">
            <div class="fl-module-content fl-node-content">
               <div class="pp-posts-wrapper">
                  <div class="pp-content-posts" style="--items-count: 3;--column-xl: 3;--column-lg: 3;--column-md: 3;--column-sm: 1;">
                     <div class="pp-content-post-grid pp-equal-height pp-css-grid">

                        {{ partialCached "clients/homepage-grid.html" . "clients-homepage" }}

                     </div>
                     <div class="fl-clear"></div>
                  </div>
                  <!-- .pp-content-posts -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>