<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-dn129i74qg6m fl-row-default-height fl-row-align-center c-grid__row c-hero" data-node="dn129i74qg6m">
   <div class="fl-row-content-wrap">
      <div class="fl-row-content fl-row-fixed-width fl-node-content">
         <div class="fl-col-group fl-node-hptklxb98v20 fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width fl-col-group-responsive-reversed" data-node="hptklxb98v20">
            <div class="fl-col fl-node-fwc7x53r0dpl fl-col-small fl-col-small-custom-width c-grid__col c-grid__col--half" data-node="fwc7x53r0dpl">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-heading fl-node-j23qxyn7ofsc" data-node="j23qxyn7ofsc">
                     <div class="fl-module-content fl-node-content">
                        <h1 class="fl-heading">
                           <span class="fl-heading-text">Build faster. Scale smarter.</span>
                        </h1>
                     </div>
                  </div>
                  <div class="fl-module fl-module-rich-text fl-node-8yibs7gtxvjp" data-node="8yibs7gtxvjp">
                     <div class="fl-module-content fl-node-content">
                        <div class="fl-rich-text c-content-block__text">
                           <p class="c-content-block__paragraph">Streamline development, accelerate delivery, &amp; achieve your product vision with access to turnkey engineering resources backed by world-class technical talent.</p>
                        </div>
                     </div>
                  </div>
                  <div class="fl-module fl-module-button fl-node-ls7iak3ydobn c-button" data-node="ls7iak3ydobn">
                     <div class="fl-module-content fl-node-content">
                        <div class="fl-button-wrap fl-button-width-auto fl-button-left c-button__wrapper">
                           <a href="{{ relURL "free-consultation/" }}" target="_self" class="fl-button">
                           <span class="fl-button-text">Talk to an Expert</span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="fl-col fl-node-bi013pcl2qtv fl-col-small fl-col-small-custom-width fl-col-has-cols c-grid__col c-grid__col--half" data-node="bi013pcl2qtv">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-photo fl-node-m6xb85qn107l" data-node="m6xb85qn107l">
                     <div class="fl-module-content fl-node-content">
                        <div class="fl-photo fl-photo-align-right">
                           <div class="fl-photo-content fl-photo-img-jpeg">

                              {{ $image := .Page.Resources.Get "build-faster-scale-smarter.jpeg" }}
                              {{ $title := "Build Faster Scale Smarter" }}
                              {{ partial "img/homepage.html" (dict "image" $image "title" $title) }}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="fl-col-group fl-node-crdpb4gxkwzy fl-col-group-nested fl-col-group-custom-width" data-node="crdpb4gxkwzy">
                     <div class="fl-col fl-node-pifywec9vd5m fl-col-small-custom-width jt-exp-box c-grid__col c-content-block" data-node="pifywec9vd5m">
                        <div class="fl-col-content fl-node-content">
                           <div class="fl-module fl-module-photo fl-node-uqmxksgj6zd4" data-node="uqmxksgj6zd4">
                              <div class="fl-module-content fl-node-content">
                                 <div class="fl-photo fl-photo-align-left">
                                    <div class="fl-photo-content fl-photo-img-png">
                                       {{ partial "svg" "logo-dark" }}
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="fl-module fl-module-rich-text fl-node-s3wp4tod8vfm jt-counter-number-ready" data-node="s3wp4tod8vfm">
                              <div class="fl-module-content fl-node-content">
                                 <div class="fl-rich-text c-content-block__text">
                                    <p class="c-content-block__paragraph"><span class="counter-value active" data-count="{{ .Params.overview_first_value }}">{{ .Params.overview_first_value }}</span>+</p>
                                 </div>
                              </div>
                           </div>
                           <div class="fl-module fl-module-rich-text fl-node-mvlu0rkbgc18" data-node="mvlu0rkbgc18">
                              <div class="fl-module-content fl-node-content">
                                 <div class="fl-rich-text c-content-block__text">
                                    <p class="c-content-block__paragraph">{{ .Params.overview_first_name }}</p>
                                 </div>
                              </div>
                           </div>
                           <div class="fl-module fl-module-button fl-node-2div407rylu5" data-node="2div407rylu5">
                              <div class="fl-module-content fl-node-content">
                                 <div class="fl-button-wrap fl-button-width-full fl-button-center">
                                    <a title="Use Cases" href="{{ relURL "use-cases/" }}" target="_self" class="fl-button">
                                    <span class="fl-button-text">Explore Our Use Cases</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="companies" class="fl-col-group fl-node-cpk7wgj6dhy0 fl-col-group-custom-width" data-node="cpk7wgj6dhy0">
            <div class="fl-col fl-node-we18l5hvkso9 fl-col-small-custom-width" data-node="we18l5hvkso9">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-rich-text fl-node-pqwe8j7o3l6z" data-node="pqwe8j7o3l6z">
                     <div class="fl-module-content fl-node-content">
                        <div class="fl-rich-text c-content-block__text">
                           <p class="c-content-block__paragraph">We helped over <strong><span style="color: #1a8cff;">20+ companies</span></strong> that went beyond their goals with our teams</p>
                        </div>
                     </div>
                  </div>

                  <div class="fl-module fl-node-cbhworulayqn">
                     <div class="fl-module-content fl-node-content">
                        {{ partialCached "homepage/companies.html" . "companies" }}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
