<div id="services" class="fl-row fl-row-full-width fl-row-bg-photo fl-node-1753mb2hg4k0 fl-row-default-height fl-row-align-center" data-node="1753mb2hg4k0">
   <div class="fl-row-content-wrap">
      <div class="fl-row-content fl-row-fixed-width fl-node-content">
         <div class="fl-col-group fl-node-zogqefj89rav" data-node="zogqefj89rav">
              <div class="fl-col fl-node-xuo6d7cwbmyf" data-node="xuo6d7cwbmyf">
                 <div class="fl-col-content fl-node-content">
                    <div class="fl-module fl-module-rich-text fl-node-gzqkfypea6jx" data-node="gzqkfypea6jx">
                       <div class="fl-module-content fl-node-content">
                          <div class="fl-rich-text">
                             <p>SERVICES</p>
                        </div>
                     </div>
                  </div>
                  <div class="fl-module fl-module-heading fl-node-b4fxsgdij6z1" data-node="b4fxsgdij6z1">
                     <div class="fl-module-content fl-node-content">
                        <h2 class="fl-heading">
                           <span class="fl-heading-text">We optimize technology</span>
                        </h2>
                     </div>
                  </div>
                  <div class="fl-module fl-module-rich-text fl-node-0hc83erkafob" data-node="0hc83erkafob">
                     <div class="fl-module-content fl-node-content">
                        <div class="fl-rich-text">
                           <p>From technical strategy and innovation to talent acquisition and software development, we help empower products and teams at any stage.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="fl-col-group fl-node-6ewrcbxp1zdq fl-col-group-custom-width" data-node="6ewrcbxp1zdq">
            <div class="fl-col fl-node-paujk1bwfe0l fl-col-small fl-col-small-custom-width hover-box" data-node="paujk1bwfe0l">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-pp-infobox fl-node-dxali8vntcr0 jt-service-box" data-node="dxali8vntcr0">
                     <div class="fl-module-content fl-node-content">
                        <div class="pp-infobox-wrap">
                           <div class="pp-infobox layout-5">
                              <div class="pp-icon-wrapper animated">
                                 <div class="pp-infobox-image">
                                    {{ partial "svgiw" (dict "svg" "theme/fractional-cto" "width" "30" "height" "30") }}
                                 </div>
                              </div>
                              <div class="pp-infobox-title-wrapper">
                                 <h3 class="pp-infobox-title"><a class="pp-title-link" href="{{ relURL "services/fractional-cto/" }}" target="_self">Fractional CTO</a></h3>
                              </div>
                              <div class="pp-infobox-description">
                                 <div class="pp-description-wrap">
                                    <p>Get on-demand access to a CTO to help guide your technical vision, accelerate team-building, and improve development team operations.</p>
                                 </div>
                                 <div class="pp-infobox-button pp-button-wrap">
                                    <a title="Fractional CTO" class="pp-more-link pp-button" href="{{ relURL "services/fractional-cto/" }}" role="button" target="_self">
                                    Learn About Fractional CTO Services <i class="pp-button-icon pp-button-icon-right far fa-long-arrow-right"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="fl-col fl-node-9xrz1vbyfomu fl-col-small fl-col-small-custom-width hover-box" data-node="9xrz1vbyfomu">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-pp-infobox fl-node-075ztwhd3cxn jt-service-box" data-node="075ztwhd3cxn">
                     <div class="fl-module-content fl-node-content">
                        <div class="pp-infobox-wrap">
                           <div class="pp-infobox layout-5">
                              <div class="pp-icon-wrapper animated">
                                 <div class="pp-infobox-image">
                                    {{ partial "svgiw" (dict "svg" "theme/app-web" "width" "30" "height" "30") }}
                                 </div>
                              </div>
                              <div class="pp-infobox-title-wrapper">
                                 <h3 class="pp-infobox-title"><a class="pp-title-link" href="{{ relURL "services/app-web-development/" }}" target="_self">App/Web Development</a></h3>
                              </div>
                              <div class="pp-infobox-description">
                                 <div class="pp-description-wrap">
                                    <p>Whether you're a startup building new products or an established business upgrading existing systems, we help deliver positive outcomes.</p>
                                 </div>
                                 <div class="pp-infobox-button pp-button-wrap">
                                    <a title="App/Web Development" class="pp-more-link pp-button" href="{{ relURL "services/app-web-development/" }}" role="button" target="_self">
                                    Explore App & Web Development <i class="pp-button-icon pp-button-icon-right far fa-long-arrow-right"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="fl-col fl-node-dcks70njr95q fl-col-small fl-col-small-custom-width hover-box" data-node="dcks70njr95q">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-pp-infobox fl-node-lajty926uxf5 jt-service-box" data-node="lajty926uxf5">
                     <div class="fl-module-content fl-node-content">
                        <div class="pp-infobox-wrap">
                           <div class="pp-infobox layout-5">
                              <div class="pp-icon-wrapper animated">
                                 <div class="pp-infobox-image">
                                    {{ partial "svgiw" (dict "svg" "theme/software-qa" "width" "30" "height" "30") }}
                                 </div>
                              </div>
                              <div class="pp-infobox-title-wrapper">
                                 <h3 class="pp-infobox-title"><a class="pp-title-link" href="{{ relURL "services/software-qa-cat/" }}" target="_self">Software QA & CAT</a></h3>
                              </div>
                              <div class="pp-infobox-description">
                                 <div class="pp-description-wrap">
                                    <p>Accelerate development, streamline release cycles, and eliminate roadblocks with fully-managed software testing &amp; QA services.</p>
                                 </div>
                                 <div class="pp-infobox-button pp-button-wrap">
                                    <a title="Software QA & CAT" class="pp-more-link pp-button" href="{{ relURL "services/software-qa-cat/" }}" role="button" target="_self">
                                    Discover Software QA Services <i class="pp-button-icon pp-button-icon-right far fa-long-arrow-right"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="fl-col-group fl-node-cdgq32wlx8et" data-node="cdgq32wlx8et">
            <div class="fl-col fl-node-cratlqvibo3x" data-node="cratlqvibo3x">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-pp-spacer fl-node-mkyhv3e21dx4 fl-visible-desktop fl-visible-large fl-visible-medium" data-node="mkyhv3e21dx4">
                     <div class="fl-module-content fl-node-content">
                        <div class="pp-spacer-module"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="fl-col-group fl-node-cst8idgykz9j fl-col-group-custom-width" data-node="cst8idgykz9j">
            <div class="fl-col fl-node-reqazbvwfnj9 fl-col-small fl-col-small-custom-width hover-box" data-node="reqazbvwfnj9">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-pp-infobox fl-node-do5fjakv8b29 jt-service-box" data-node="do5fjakv8b29">
                     <div class="fl-module-content fl-node-content">
                        <div class="pp-infobox-wrap">
                           <div class="pp-infobox layout-5">
                              <div class="pp-icon-wrapper animated">
                                 <div class="pp-infobox-image">
                                    {{ partial "svgiw" (dict "svg" "theme/fractional-product" "width" "30" "height" "30") }}
                                 </div>
                              </div>
                              <div class="pp-infobox-title-wrapper">
                                 <h3 class="pp-infobox-title"><a class="pp-title-link" href="{{ relURL "services/fractional-product-management/" }}" target="_self">Fractional Product Management</a></h3>
                              </div>
                              <div class="pp-infobox-description">
                                 <div class="pp-description-wrap">
                                    <p>Get on-demand access to a product expert to help design UX, plan &amp; prioritize your roadmap, and manage development schedules.</p>
                                 </div>
                                 <div class="pp-infobox-button pp-button-wrap">
                                    <a title="Fractional Product Management" class="pp-more-link pp-button" href="{{ relURL "services/fractional-product-management/" }}" role="button" target="_self">
                                    View Product Management Services <i class="pp-button-icon pp-button-icon-right far fa-long-arrow-right"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="fl-col fl-node-5syfq06jvt8x fl-col-small fl-col-small-custom-width hover-box" data-node="5syfq06jvt8x">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-pp-infobox fl-node-3eq5kcmfz0an jt-service-box" data-node="3eq5kcmfz0an">
                     <div class="fl-module-content fl-node-content">
                        <div class="pp-infobox-wrap">
                           <div class="pp-infobox layout-5">
                              <div class="pp-icon-wrapper animated">
                                 <div class="pp-infobox-image">
                                    {{ partial "svgiw" (dict "svg" "theme/outsourced-developer"  "width" "30" "height" "30") }}
                                 </div>
                              </div>
                              <div class="pp-infobox-title-wrapper">
                                 <h3 class="pp-infobox-title"><a class="pp-title-link" href="{{ relURL "services/outsourced-developer-staffing/" }}" target="_self">Outsourced Developer Staffing</a></h3>
                              </div>
                              <div class="pp-infobox-description">
                                 <div class="pp-description-wrap">
                                    <p>Increase your development capacity &amp; reduce administrative workloads with pre-trained engineers that are ready to deploy within weeks.</p>
                                 </div>
                                 <div class="pp-infobox-button pp-button-wrap">
                                    <a title="Outsourced Developer Staffing" class="pp-more-link pp-button" href="{{ relURL "services/outsourced-developer-staffing/" }}" role="button" target="_self">
                                    See Developer Staffing Solutions <i class="pp-button-icon pp-button-icon-right far fa-long-arrow-right"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="fl-col fl-node-r5mpnlqz427o fl-col-small fl-col-small-custom-width hover-box" data-node="r5mpnlqz427o">
               <div class="fl-col-content fl-node-content">
                  <div class="fl-module fl-module-pp-infobox fl-node-v3gpr4klqmob jt-service-box" data-node="v3gpr4klqmob">
                     <div class="fl-module-content fl-node-content">
                        <div class="pp-infobox-wrap">
                           <div class="pp-infobox layout-5">
                              <div class="pp-icon-wrapper animated">
                                 <div class="pp-infobox-image">
                                    {{ partial "svgiw" (dict "svg" "theme/talent-recruiting"  "width" "30" "height" "30") }}
                                 </div>
                              </div>
                              <div class="pp-infobox-title-wrapper">
                                 <h3 class="pp-infobox-title"><a class="pp-title-link" href="{{ relURL "services/talent-recruiting-training/" }}" target="_self">Talent Recruiting and Training</a></h3>
                              </div>
                              <div class="pp-infobox-description">
                                 <div class="pp-description-wrap">
                                    <p>Scale your development team &amp; simplify the talent acquisition process with top-caliber candidates that are pre-vetted by our team.</p>
                                 </div>
                                 <div class="pp-infobox-button pp-button-wrap">
                                    <a title="Talent Recruiting and Training" class="pp-more-link pp-button" href="{{ relURL "services/talent-recruiting-training/" }}" role="button" target="_self">
                                    View Talent Recruiting Services <i class="pp-button-icon pp-button-icon-right far fa-long-arrow-right"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         {{ partialCached "technologies.html" (dict "colorVariant" "white"  "site" .Site) "technologies-white" }}

         {{ partial "homepage/clients.html" . }}
      </div>
   </div>
</div>
