{{ define "main" }}

{{ $paginator := .Paginate (sort .Pages "Params.created_at" "desc") }}

{{ range $paginator.Pages }}
<a class="blog-post-link" href="{{ .Permalink }}" title="{{ .Title }}">
  <div class="blog-post">
  <div class="post-image">
    {{ partial "blog/img-cropped.html" (dict "Page" . "width" 150 "height" 150) }}
  </div>

  <div class="post-content">
    <h2 class="post-title">{{ .Title }}</h2>
    <div class="post-meta">
      <div class="post-tags">{{ range .Params.tags }}<a href="/blog/tags/{{ . | urlize }}/">#{{ . }}</a> {{ end }}
      </div>
      {{ if .Params.created_at }}
      <span class="post-date">{{ dateFormat "Jan 2, 2006" .Params.created_at }}</span>
      {{ end }}
    </div>
  </div>
  </div>
</a>

{{ end }}


{{ partial "pagination.html" . }}

{{ end }}
