{{ $page := .Page }}
{{ $image := "" }}

{{/* Try metatags.image first (primary convention) */}}
{{- if $page.Params.metatags.image -}}
  {{ $image = $page.Resources.Get $page.Params.metatags.image }}
{{- else if $page.Params.cover_image -}}
  {{/* Try cover_image */}}
  {{ $image = $page.Resources.Get $page.Params.cover_image }}
{{- else if $page.Params.cover -}}
  {{/* Try cover (alias) */}}
  {{ $image = $page.Resources.Get $page.Params.cover }}
{{- else if $page.Params.featured_image -}}
  {{/* Try featured_image (legacy) */}}
  {{ $image = $page.Resources.Get $page.Params.featured_image }}
{{- end -}}

{{ if $image }}
{{ $cropped := $image.Fill (printf "%dx%d Center" $.width $.height) }}
{{ $jpg := $cropped.Resize (printf "%dx%d jpg q90" $.width $.height) }}

<picture>
  <source srcset='{{ $jpg.RelPermalink }}' type="image/jpeg" width="{{ $.width }}" height="{{ $.height }}">
  <img alt='{{ $page.Title }}' src="{{ $jpg.RelPermalink }}" width="{{ $.width }}" height="{{ $.height }}">
</picture>

{{ else }}
<img src="{{ (resources.Get "img/no-image.svg" | resources.Fingerprint).RelPermalink }}" width="{{ $.width }}" height="{{ $.height }}" alt="Placeholder Image">
{{ end }}
