.git
.gitignore
.github
.byebug_history
.DS_Store
.bundle

/node_modules
/node_modules/*

/public
/public-test

/docs/*

.dockerignore
.env
.idea
.vscode
Dockerfile*
LICENSE
README.md
compose*
coverage*
docker-compose*

!.bun-version
!.ruby-version
