{{ define "header" }}
  {{ partial "header/critical/about-us.html" . }}
  {{- $dynamicCSS586 := resources.Get "css/dynamic-icons.css" | resources.ExecuteAsTemplate "css/dynamic586.css" . }}
  {{- $aboutResources := slice
    (resources.Get "css/components.css")
    (resources.Get "css/fl-about-layout.css")
    (resources.Get "css/theme-main.css")
    $dynamicCSS586
    (resources.Get "css/services-layout.css")
    (resources.Get "css/component-bundle.css")
    (resources.Get "css/footer.css")
  }}
  {{ partialCached "assets/css-processor.html" (dict "resources" $aboutResources "bundleName" "about-us" "context" .) "about-us" }}
  {{ partial "header/json-ld-company.html" . }}
  {{ partial "seo/organization-enhanced-schema.html" . }}
{{ end }}

{{ define "main" }}
  <div id="fl-main-content" class="fl-page-content" role="main">
    <div class="fl-content-full container">
      <div class="row">
        <div class="fl-content col-md-12">
          <article
            class="fl-post post-701 page type-page status-publish hentry"
            id="fl-post-701">
            <div class="fl-post-content clearfix">
              <div
                class="fl-builder-content fl-builder-content-701 fl-builder-content-primary fl-builder-global-templates-locked"
                data-post-id="701">
                <div
                  class="fl-row fl-row-full-width fl-row-bg-color fl-node-wazohulbme7q fl-row-default-height fl-row-align-center fl-row-has-layers"
                  data-node="wazohulbme7q">
                  <div class="fl-row-content-wrap">
                    <div
                      class="fl-builder-layer fl-builder-shape-layer fl-builder-bottom-edge-layer fl-builder-shape-rect">
                      <svg
                        class="fl-builder-layer-align-bottom-center"
                        viewBox="0 0 800 450"
                        preserveAspectRatio="none">
                        <defs></defs>
                        <g class="fl-shape-content">
                          <rect
                            class="fl-shape"
                            x="0"
                            y="0"
                            width="800"
                            height="450"></rect>
                        </g>
                      </svg>
                    </div>
                    <div
                      class="fl-row-content fl-row-fixed-width">
                      <div
                        class="fl-col-group fl-node-pzj93mxq06vo"
                        data-node="pzj93mxq06vo">
                        <div
                          class="fl-col fl-node-vcrwsnm34dab"
                          data-node="vcrwsnm34dab">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-heading fl-node-vh9u3t4br8cm"
                              data-node="vh9u3t4br8cm">
                              <div class="fl-module-content">
                                <h1 class="fl-heading">
                                  <span class="fl-heading-text"
                                    >Learn more about our story, our culture,
                                    and our values</span
                                  >
                                </h1>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-photo fl-node-19njtzagfebh"
                              data-node="19njtzagfebh">
                              <div class="fl-module-content">
                                <div class="fl-photo fl-photo-align-left">
                                  <div
                                    class="fl-photo-content fl-photo-img-jpg">
                                    {{ $image := .Page.Resources.Get .Page.Params.cover_image }}
                                    {{ $title := "The Best Products" }}
                                    {{ partial "img/hero-big.html" (dict "image" $image "title" $title) }}

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="fl-row fl-row-full-width fl-row-bg-photo fl-node-uiyz63qn8r0f fl-row-default-height fl-row-align-center"
                  data-node="uiyz63qn8r0f">
                  <div class="fl-row-content-wrap">
                    <div
                      class="fl-row-content fl-row-fixed-width">
                      <div
                        class="fl-col-group fl-node-0i3jlsdov2t9 fl-col-group-custom-width"
                        data-node="0i3jlsdov2t9">
                        <div
                          class="fl-col fl-node-6tcum8ds5ip4 fl-col-small fl-col-small-custom-width"
                          data-node="6tcum8ds5ip4">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-rich-text fl-node-ows5td8cbip3"
                              data-node="ows5td8cbip3">
                              <div class="fl-module-content">
                                <div class="fl-rich-text c-content-block__text">
                                  <p class="c-content-block__paragraph">{{ .Params.about_us_block1.headline }}</p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text fl-node-7rwpn0gkzc45 jt-mission-culture"
                              data-node="7rwpn0gkzc45">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <ul>
                                    {{ range .Params.about_us_block1.items }}
                                      <li>{{ . }}</li>
                                    {{ end }}
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="fl-col fl-node-cxsbfvdr49eg fl-col-small fl-col-small-custom-width"
                          data-node="cxsbfvdr49eg">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-rich-text fl-node-6d9equxbio2h"
                              data-node="6d9equxbio2h">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>{{ .Params.about_us_block2.headline }}</p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text fl-node-594ngq8xc7ws jt-mission-culture"
                              data-node="594ngq8xc7ws">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <ul>
                                    {{ range .Params.about_us_block2.items }}
                                      <li>{{ . }}</li>
                                    {{ end }}
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="fl-col-group fl-node-l1ruymexao69 fl-col-group-custom-width"
                        data-node="l1ruymexao69">
                        <div
                          class="fl-col fl-node-os8vrc1dwlji fl-col-small-custom-width"
                          data-node="os8vrc1dwlji">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-rich-text fl-node-wju40a395zbl"
                              data-node="wju40a395zbl">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>OUR CORE VALUES</p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-heading fl-node-il8sadb7x3nv"
                              data-node="il8sadb7x3nv">
                              <div class="fl-module-content">
                                <h2 class="fl-heading">
                                  <span class="fl-heading-text"
                                    >How we see the world helps drive our
                                    success</span
                                  >
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="fl-col-group fl-node-agujqh5fxnds fl-col-group-custom-width"
                        data-node="agujqh5fxnds">
                        <div
                          class="fl-col fl-node-h1byus7aprfd fl-col-small fl-col-small-custom-width"
                          data-node="h1byus7aprfd">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-pp-infobox fl-node-5tmpu20yerbq"
                              data-node="5tmpu20yerbq">
                              <div class="fl-module-content">
                                <div class="pp-infobox-wrap">
                                  <div class="pp-infobox layout-5">
                                    <div class="pp-icon-wrapper animated">
                                      <div class="pp-infobox-image">
                                        {{ partial "svg" "theme/trust-transparency" }}
                                      </div>
                                    </div>
                                    <div class="pp-infobox-title-wrapper">
                                      <h3 class="pp-infobox-title">
                                        Trust & Transparency
                                      </h3>
                                    </div>
                                    <div class="pp-infobox-description">
                                      <div class="pp-description-wrap">
                                        <p>
                                          Trust is our most important company
                                          value because it’s essential for any
                                          successful long-term relationship. In
                                          order to build trust, we believe in
                                          the need for transparency.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="fl-col fl-node-p3acnwe42skd fl-col-small fl-col-small-custom-width"
                          data-node="p3acnwe42skd">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-pp-infobox fl-node-k0y7grmbj6n8"
                              data-node="k0y7grmbj6n8">
                              <div class="fl-module-content">
                                <div class="pp-infobox-wrap">
                                  <div class="pp-infobox layout-5">
                                    <div class="pp-icon-wrapper animated">
                                      <div class="pp-infobox-image">
                                        {{ partial "svg" "theme/alignment-communication" }}
                                      </div>
                                    </div>
                                    <div class="pp-infobox-title-wrapper">
                                      <h3 class="pp-infobox-title">
                                        Alignment & Communication
                                      </h3>
                                    </div>
                                    <div class="pp-infobox-description">
                                      <div class="pp-description-wrap">
                                        <p>
                                          Software development can be costly,
                                          which is why we believe in the
                                          importance of proper scoping,
                                          planning, and communication throughout
                                          the process.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="fl-col fl-node-bzo12nhdvj97 fl-col-small fl-col-small-custom-width"
                          data-node="bzo12nhdvj97">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-pp-infobox fl-node-g5t28lcnjfkh"
                              data-node="g5t28lcnjfkh">
                              <div class="fl-module-content">
                                <div class="pp-infobox-wrap">
                                  <div class="pp-infobox layout-5">
                                    <div class="pp-icon-wrapper animated">
                                      <div class="pp-infobox-image">
                                        {{ partial "svg" "theme/reliability-adaptability" }}
                                      </div>
                                    </div>
                                    <div class="pp-infobox-title-wrapper">
                                      <h3 class="pp-infobox-title">
                                        Reliability & Adaptability
                                      </h3>
                                    </div>
                                    <div class="pp-infobox-description">
                                      <div class="pp-description-wrap">
                                        <p>
                                          Even after the technology is
                                          developed, it usually requires ongoing
                                          supervision to fix problems, adjust to
                                          changes, and keep it stable over time.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="fl-row fl-row-full-width fl-row-bg-photo fl-node-v524b8z0hwrt fl-row-default-height fl-row-align-center"
                  data-node="v524b8z0hwrt">
                  <div class="fl-row-content-wrap">
                    <div
                      class="fl-row-content fl-row-fixed-width">
                      <div
                        class="fl-col-group fl-node-dyipogh0wz7c fl-col-group-custom-width"
                        data-node="dyipogh0wz7c">
                        <div
                          class="fl-col fl-node-cv38mr0lszjt fl-col-small-custom-width"
                          data-node="cv38mr0lszjt">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-rich-text fl-node-nb2thxdw075q"
                              data-node="nb2thxdw075q">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>ACHIEVEMENTS</p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-heading fl-node-735gaw8z0rx4"
                              data-node="735gaw8z0rx4">
                              <div class="fl-module-content">
                                <h2 class="fl-heading">
                                  <span class="fl-heading-text"
                                    >Our successful outcome</span
                                  >
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="fl-col-group fl-node-67fuqzwp2svj fl-col-group-custom-width"
                        data-node="67fuqzwp2svj">
                        <div
                          class="fl-col fl-node-j53lh2y9utgk fl-col-small fl-col-small-custom-width"
                          data-node="j53lh2y9utgk">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-rich-text fl-node-6dnrx0uvg45j jt-counter-number"
                              data-node="6dnrx0uvg45j">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>
                                    <span
                                      class="counter-value active"
                                      data-count="5"
                                      >5</span
                                    >+
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text fl-node-a2xb65fhgy79"
                              data-node="a2xb65fhgy79">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>Years of Average Client Relationship</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="fl-col fl-node-rhuqmig4nfkp fl-col-small fl-col-small-custom-width"
                          data-node="rhuqmig4nfkp">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-rich-text fl-node-p9so2tfi6euz jt-counter-number"
                              data-node="p9so2tfi6euz">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>
                                    <span
                                      class="counter-value active"
                                      data-count="8"
                                      >8</span
                                    >+
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text fl-node-7f326tcxngwi"
                              data-node="7f326tcxngwi">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>Years of Average Developer Experience</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="fl-col fl-node-xsf32a07cupe fl-col-small fl-col-small-custom-width"
                          data-node="xsf32a07cupe">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-rich-text fl-node-twdnl1vagh9s jt-counter-number"
                              data-node="twdnl1vagh9s">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>
                                    <span
                                      class="counter-value active"
                                      data-count="4"
                                      >4</span
                                    >+
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text fl-node-r0hgcj5bm8kf"
                              data-node="r0hgcj5bm8kf">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>Years of Average Developer Turnover</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="fl-row fl-row-full-width fl-row-bg-photo fl-node-r0z92ais74j1 fl-row-default-height fl-row-align-center fl-row-has-layers"
                  data-node="r0z92ais74j1">
                  <div class="fl-row-content-wrap">
                    <div
                      class="fl-builder-layer fl-builder-shape-layer fl-builder-bottom-edge-layer fl-builder-shape-rect">
                      <svg
                        class="fl-builder-layer-align-bottom-center"
                        viewBox="0 0 800 450"
                        preserveAspectRatio="none">
                        <defs></defs>
                        <g class="fl-shape-content">
                          <rect
                            class="fl-shape"
                            x="0"
                            y="0"
                            width="800"
                            height="450"></rect>
                        </g>
                      </svg>
                    </div>
                    <div
                      class="fl-row-content fl-row-fixed-width">
                      {{ partial "page/testimonials.html" . }}
                      <div
                        class="fl-col-group fl-node-3h8mj6w59d2c fl-col-group-custom-width"
                        data-node="3h8mj6w59d2c">
                        <div
                          class="fl-col fl-node-fdsvgxpowi03 fl-col-small-custom-width fl-col-has-cols blue-border"
                          data-node="fdsvgxpowi03">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-rich-text fl-node-rujwd9mzxche"
                              data-node="rujwd9mzxche">
                              <div
                                class="fl-module-content"></div>
                            </div>
                            <div
                              class="fl-module fl-module-heading fl-node-fa7hjib92cpv"
                              data-node="fa7hjib92cpv">
                              <div class="fl-module-content">
                                <h2 class="fl-heading">
                                  <span class="fl-heading-text"
                                    >Let’s get started now</span
                                  >
                                </h2>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text fl-node-9hf5wet31z02"
                              data-node="9hf5wet31z02">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>
                                    Get in touch with one of our experts to get
                                    a technical strategy &amp; planning session
                                    for your project at no cost.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-pp-spacer fl-node-toa2hwegbp4q fl-visible-desktop fl-visible-large fl-visible-medium"
                              data-node="toa2hwegbp4q">
                              <div class="fl-module-content">
                                <div class="pp-spacer-module"></div>
                              </div>
                            </div>
                            <div
                              class="fl-col-group fl-node-d96zqbnxltuj fl-col-group-nested fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width"
                              data-node="d96zqbnxltuj">
                              <div class="fl-col-content">
                                <div
                                  class="fl-button-wrap-center fl-button-width-auto fl-button-center">
                                  <a
                                    href="/contact-us/"
                                    target="_self"
                                    class="fl-button">
                                    <span class="fl-button-text"
                                      >Contact Us</span
                                    >
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
{{ end }}
