{{ define "header" }}
  {{ partial "header/critical/clients.html" . }}

  {{- $resources := slice
    (resources.Get "css/critical/base.css")
    (resources.Get "css/3082-layout.css")
    (resources.Get "css/e93d9b85e7803f50c80b8a698f8d12f9-layout-bundle.css")
    (resources.Get "css/dynamic-icons.css" | resources.ExecuteAsTemplate "css/dynamic586.css" .)
    (resources.Get "css/586.css")
    (resources.Get "css/vendors/base-4.min.css")
    (resources.Get "css/style.css")
    (resources.Get "css/skin-65eda28877e04.css")
    (resources.Get "css/technologies.css")
    (resources.Get "css/footer.css")
  -}}

  {{ partialCached "assets/css-processor.html" (dict "resources" $resources "bundleName" "clients") "clients" }}

{{ end }}

{{ define "main" }}

  <div id="fl-main-content" class="fl-page-content" role="main">
    <div class="fl-content-full container">
      <div class="row">
        <div class="fl-content col-md-12">
          <article
            class="fl-post post-3082 page type-page status-publish hentry"
            id="fl-post-3082">
            <div class="fl-post-content clearfix">
              <div
                class="fl-builder-content fl-builder-content-3082 fl-builder-content-primary fl-builder-global-templates-locked"
                data-post-id="3082">
                <div
                  class="fl-row fl-row-full-width fl-row-bg-photo fl-node-ec25np07hf63 fl-row-default-height fl-row-align-center fl-row-has-layers"
                  data-node="ec25np07hf63">
                  <div class="fl-row-content-wrap">
                    <div
                      class="fl-builder-layer fl-builder-shape-layer fl-builder-bottom-edge-layer fl-builder-shape-rect">
                      <svg
                        class="fl-builder-layer-align-bottom-center"
                        viewBox="0 0 800 450"
                        preserveAspectRatio="none">
                        <defs></defs>
                        <g class="fl-shape-content">
                          <rect
                            class="fl-shape"
                            x="0"
                            y="0"
                            width="800"
                            height="450"></rect>
                        </g>
                      </svg>
                    </div>
                    <div class="fl-row-content fl-row-fixed-width">
                      <div
                        id="real-clients"
                        class="fl-col-group fl-node-ywdijlprtzo2 fl-col-group-custom-width"
                        data-node="ywdijlprtzo2">
                        <div
                          class="fl-col fl-node-vwmqhyjlfs05 fl-col-small-custom-width"
                          data-node="vwmqhyjlfs05">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-heading fl-node-xrzgk7n2i63o"
                              data-node="xrzgk7n2i63o">
                              <div class="fl-module-content">
                                <h1 class="fl-heading">
                                  <span class="fl-heading-text"
                                    >Real people. Real experiences</span
                                  >
                                </h1>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text fl-node-17hr8iqz4nyg"
                              data-node="17hr8iqz4nyg">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>
                                    We have a track record of delivering
                                    positive technology outcomes for companies
                                    of all sizes and across many different
                                    industries.
                                  </p>
                                </div>
                              </div>
                            </div>
                            {{ $allClientsGrid := partialCached "clients/all-clients-grid.html" . "all-clients" }}
                            <div
                              id="clients"
                              class="fl-module fl-module-pp-content-grid fl-node-z9jw2gxm5ev0 fl-visible-desktop fl-visible-large fl-visible-medium fl-visible-mobile jt-clickable"
                              data-node="z9jw2gxm5ev0">
                              <div class="fl-module-content">
                                <div class="pp-posts-wrapper">
                                  <div
                                    class="pp-content-posts"
                                    style="--items-count: 6;--column-xl: 3;--column-lg: 3;--column-md: 3;--column-sm: 1;">
                                    <div
                                      class="pp-content-post-grid pp-equal-height pp-css-grid">
                                      {{ $allClientsGrid }}

                                    </div>
                                    <div class="fl-clear"></div>
                                  </div>
                                  <!-- .pp-content-posts -->
                                </div>
                              </div>
                            </div>

                            <div
                              class="fl-module fl-module-pp-content-grid fl-node-nj7igdpblkay fl-visible-mobile jt-clickable"
                              data-node="nj7igdpblkay">
                              <div class="fl-module-content">
                                <div class="pp-posts-wrapper">
                                  <div
                                    class="pp-content-posts"
                                    style="--items-count: 6;--column-xl: 1;--column-lg: 1;--column-md: 1;--column-sm: 1;">
                                    <div
                                      class="pp-content-post-carousel pp-equal-height clearfix">
                                      <div
                                        class="pp-content-posts-inner owl-carousel owl-theme">
                                        {{ $allClientsGrid }}

                                      </div>
                                    </div>
                                    <div class="fl-clear"></div>
                                  </div>
                                  <!-- .pp-content-posts -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {{ partialCached "technologies.html" (dict "colorVariant" "dark"  "site" .Site) "technologies-dark" }}

                      {{ partialCached "page/testimonials" . "testimonials" }}


                      <div
                        id="cta-contact_us"
                        class="fl-col-group fl-node-f14gkcmxeo5i fl-col-group-custom-width"
                        data-node="f14gkcmxeo5i">
                        <div
                          class="fl-col fl-node-spwc0eio5znl fl-col-small-custom-width fl-col-has-cols blue-border"
                          data-node="spwc0eio5znl">
                          <div class="fl-col-content">
                            <div
                              class="fl-module fl-module-rich-text fl-node-2jbfoa50irmx"
                              data-node="2jbfoa50irmx">
                              <div class="fl-module-content"></div>
                            </div>
                            <div
                              class="fl-module fl-module-heading fl-node-knxbsd4lg31h"
                              data-node="knxbsd4lg31h">
                              <div class="fl-module-content">
                                <h2 class="fl-heading">
                                  <span class="fl-heading-text"
                                    >Let’s get started now</span
                                  >
                                </h2>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-rich-text fl-node-0iopft495rwa"
                              data-node="0iopft495rwa">
                              <div class="fl-module-content">
                                <div class="fl-rich-text">
                                  <p>
                                    Get in touch with one of our experts to get
                                    a technical strategy &amp;planning session
                                    for your project at no cost.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div
                              class="fl-module fl-module-pp-spacer fl-node-u9ey46xfdt8o fl-visible-desktop fl-visible-large fl-visible-medium"
                              data-node="u9ey46xfdt8o">
                              <div class="fl-module-content">
                                <div class="pp-spacer-module"></div>
                              </div>
                            </div>
                            <div
                              class="fl-button-wrap-center fl-button-width-auto fl-button-center">
                              <a
                                href="/contact-us/"
                                target="_self"
                                class="fl-button">
                                <span class="fl-button-text">Contact Us</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- .fl-post-content -->
          </article>
        </div>
      </div>
    </div>
  </div>
{{ end }}
