.pp-gf-content .pp-gf-inner .gform_confirmation_message i::before {
    content: "";
    width: 70px;
    height: 70px;
    display: block;
    background-image: url({{ (resources.Get "img/icons/theme/confirmation-icon.svg" | fingerprint).RelPermalink }});
    background-repeat: no-repeat;
    background-size: contain;
}

.jt-reviews-box .pp-reviews-wrapper .pp-swiper-button:hover span::before {
    background-image: url({{ (resources.Get "img/icons/theme/hover-arrow-icon-hover.svg" | fingerprint).RelPermalink }});
}

.cs-testimonial .cs-testimonial-wrapper::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: url({{ (resources.Get "img/testimonial-quote.png" | fingerprint).RelPermalink }});
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}