.client-logos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.client-logos > .client-logo {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.client-logos > .client-logo > .image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

@media (max-width: 860px) {
  .client-logos {
    grid-template-columns: repeat(2, 1fr);
  }
}
