.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 1rem; /* --bs-pagination-padding-y and --bs-pagination-padding-x */
  font-size: 1.25rem; /* --bs-pagination-font-size */
  color: #0d6efd; /* --bs-link-color */
  text-decoration: none;
  background-color: #fff; /* --bs-body-bg */
  border: 1px solid #dee2e6; /* --bs-border-color */
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}

.page-link:hover {
  text-decoration: none;

  z-index: 2;
  color: #0a58ca; /* --bs-link-hover-color */
  background-color: #f8f9fa; /* --bs-tertiary-bg */
  border-color: #dee2e6; /* --bs-border-color */
}

.page-link:focus {
  text-decoration: none;

  z-index: 3;
  color: #0a58ca; /* --bs-link-hover-color */

  background-color: #e9ecef; /* --bs-secondary-bg */
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* --bs-pagination-focus-box-shadow */
}
