.single-post-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px
}

.single-post-content {
  max-width: 43rem;
}

.social-share {
  display: flex;
  max-width: 43rem;
  gap: 1rem;
  margin-top: 4rem;
  justify-content: center;

}

.social-share a {
  display: inline-block;
  width: 36px;
  height: 36px;
}

.social-share svg {
  width: 100%;
  height: 100%;
}

.heading-component .heading-self-link {
  text-decoration: none;
  color: var(--color-primary);
  visibility: hidden;
}
.heading-component:hover>.heading-self-link {
  visibility: visible;
}

.comment-link {text-decoration: none!important; margin-top: 2rem}
