.fl-node-ha6dj4z7r51f:last-child > .fl-col-content {
  border-right-width: 0;
}

.pp-reviews-wrapper .pp-swiper-button svg {
  display: block;
}

.gform_footer {
  overflow: hidden;
}

/*Blog*/
.blog {
  padding: 135px 0 50px;
}

.blog img {
  max-width: 100%;
  height: auto;
}

.blog .container {
  max-width: 700px !important;
  margin: 0 auto !important;
}

.blog h1,
.blog .heading {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  margin: 0 0 32px !important;

  @media (max-width: 1024px) {
    font-size: 42px;
    line-height: 52px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 24px;
  }
}

.blog h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.blog h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 26px 0 0 !important;
}

.blog blockquote {
  margin: 42px 0 42px -20px;
  padding: 0 0 0 23px;
  box-shadow: inset 3px 0 0 0 #242424;
  position: relative;
}

.blog blockquote p {
  margin-top: 22px;
}

.blog blockquote h1,
.blog blockquote h2,
.blog blockquote h3 {
  margin-top: 30px;
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
  color: #6B6B6B;
}

.blog blockquote h1 a,
.blog blockquote h2 a,
.blog blockquote h3 a {
  color: #6B6B6B;
}

.blog blockquote h1:before,
.blog blockquote h2:before,
.blog blockquote h3:before {
  content: '';
  position: absolute;
  width: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}

.blog blockquote strong {
  font-style: italic;
}

.blog p {
  font-size: 20px;
  line-height: 32px;
}

.blog p a {
  color: inherit;
}

.blog .link {
  color: #6B6B6B;
  text-decoration: none;
}

.blog table {
  margin: 22px 0;
}

.blog th,
.blog td {
  border: 1px solid #e9eaeb;
  padding: 5px 10px;
  font-size: 16px;
}

input[type=submit]:disabled {
  opacity: 0.25
}

.blog ol,
.blog ul {
  padding-left: 24px;
}
