{{/*
CTA (Call-to-Action) Shortcode Template
Usage: {{< cta title="Title" description="Description" button-text="Text" button-url="/url" >}}
*/}}
{{ $title := .Get "title" }}
{{ $description := .Get "description" }}
{{ $buttonText := .Get "button-text" }}
{{ $buttonUrl := .Get "button-url" }}

<div class="cta-block">
  <div class="cta-block__content">
    {{ if $title }}
    <h3 class="cta-block__title">{{ $title }}</h3>
    {{ end }}

    {{ if $description }}
    <p class="cta-block__description">{{ $description }}</p>
    {{ end }}

    {{ if and $buttonText $buttonUrl }}
    <div class="cta-block__action">
      <a href="{{ $buttonUrl }}" class="cta-block__button btn btn--primary">
        {{ $buttonText }}
      </a>
    </div>
    {{ end }}
  </div>
</div>