{{/*
  thoughtbot-example shortcode
  Creates a thoughtbot-style code example with title and syntax highlighting

  Usage:
  {{< thoughtbot-example title="Ruby memory allocation types" language="ruby" >}}
  user = User.new
  users = User.all.to_a
  {{< /thoughtbot-example >}}

  Parameters:
  - title: The example title/description
  - language: Syntax highlighting language (ruby, bash, javascript, etc.)
*/}}

{{ $title := .Get "title" | default "" }}
{{ $language := .Get "language" | default "text" }}
{{ $content := .Inner }}

<div class="thoughtbot-example">
  {{ if $title }}
    <h4 class="example-title">{{ $title | markdownify }}</h4>
  {{ end }}

  {{ if $content }}
    <div class="example-code">
      <pre><code class="language-{{ $language }}">{{ $content | htmlEscape }}</code></pre>
    </div>
  {{ end }}
</div>