{{ $image := .Resources.Get .Params.client.cover_image }}

{{ $logo := .Resources.Get .Params.client.logo }}
{{ if eq (.Scratch.Get "logoVariant") "white" }}
{{ $logo = .Resources.Get .Params.client.logo_white_version }}
{{ end }}
{{ .Scratch.Delete "logoVariant" }}
<div class="pp-content-post pp-content-grid-post pp-grid-custom post-3206 jt_case_studies type-jt_case_studies status-publish has-post-thumbnail hentry jt_case_studies_category-amazon-web-services jt_case_studies_category-elastisearch jt_case_studies_category-postgresql jt_case_studies_category-react-js jt_case_studies_category-ruby-on-rails" data-id="3206">
    <meta content="{{ .Title }}"/>
    <meta content="{{ dateFormat "2006-01-02" .Date }}" />
    <meta content="{{ dateFormat "2006-01-02" .Lastmod }}" />
    <div>
        <meta content="JetThoughts">
    </div>
    <div>
        <meta content="{{.Params.author }}"/>
    </div>
    {{ with $image }}
    <div>
        <meta content="{{ .RelPermalink }}" />
        <meta content="{{ .Width }}" />
        <meta content="{{ .Height }}" />
      </div>
    {{ end }}
    <div>
        <meta content="https://schema.org/CommentAction"/>
        <meta content="0"/>
    </div>
    <div class="pp-content-grid-post-image">
        <a href="{{ .RelPermalink }}">
            {{ if $logo }}
                {{ partial "img/client-logo.html" (dict "image" $logo "title" .Params.client.name) }}
            {{ else }}
                <div class="client-logo-placeholder">{{ .Params.client.name }}</div>
            {{ end }}
        </a>
    </div>
    <div class="pp-content-grid-post-text">
        <div class="excerpt">
            <p>{{ .Params.excerpt }}</p>
        </div>
        <div class="case-category">
            <ul class='fl-jt_case_studies_category'>
                {{ range .Params.categories }}
                <li><span class="{{ . | urlize }}">{{ . }}</span></li>
                {{ end }}
              </ul>
        </div>
    </div>
</div>
