{{ $image := .image }}
{{ $title := .title }}
{{ $widths := .widths }}
{{ $attributes := .attributes | default "" }}

{{ if $image }}
{{ $originalWidth := $image.Width }}
{{ $imageWebP := $image.Resize (printf "%dx webp q75" $originalWidth) }}
{{ $srcset := "" }}

{{ range $widths }}
  {{ if lt . $originalWidth }}
    {{ $resized := $image.Resize (printf "%dx webp q75" .) }}
    {{ $srcset = printf "%s%s %dw, " $srcset $resized.RelPermalink . }}
  {{ end }}
{{ end }}

{{ $srcset = printf "%s%s %dw" $srcset $imageWebP.RelPermalink $originalWidth }}

<img {{ $attributes | safeHTMLAttr }}
     src="{{ $imageWebP.RelPermalink }}"
     alt="{{ $title }}"
     width="{{ $image.Width }}"
     height="{{ $image.Height }}"
     title="{{ $title }}"
     srcset="{{ $srcset }}">
{{ else }}
<div class="image-placeholder" {{ $attributes | safeHTMLAttr }}>
  <span>{{ $title | default "Image not available" }}</span>
</div>
{{ end }}
