{{ $image := .image }}
{{ $title := .title }}
{{ $widths := slice 300 600 768 1024 1536 2048 }}

{{ $originalWidth := $image.Width }}
{{ $imageWebP := $image.Resize (printf "%dx webp q75" $originalWidth) }}
{{ $srcset := printf "%s %dw, " $imageWebP.RelPermalink $originalWidth }}
{{ range $widths }}
{{ if le . $originalWidth }}
{{ $resized := $image.Resize (printf "%dx webp q75" .) }}
{{ $srcset = printf "%s%s %dw, " $srcset $resized.RelPermalink . }}
{{ end }}
{{ end }}
{{ $srcset = chomp (replace $srcset ", " ", ") }}

<img fetchpriority="high" decoding="async" class="fl-photo-img size-full"
     src="{{ $imageWebP.RelPermalink }}" alt="{{ $title }}"
     itemprop="image" height="{{ $image.Height }}" width="{{ $image.Width }}" title="{{ $title }}"
     srcset="{{ $srcset }}"
     sizes="(max-width: 2360px) 100vw, 2360px" />
