{{ $image := .image }}
{{ $title := .title }}
{{ $widths := slice 300 730 }}

{{ $originalWidth := $image.Width }}
{{ $imageWebP := $image.Resize (printf "%dx webp q75" $originalWidth) }}
{{ $srcset := printf "%s %dw, " $imageWebP.RelPermalink $originalWidth }}
{{ range $widths }}
{{ if le . $originalWidth }}
{{ $resized := $image.Resize (printf "%dx webp q75" .) }}
{{ $srcset = printf "%s%s %dw, " $srcset $resized.RelPermalink . }}
{{ end }}
{{ end }}
{{ $srcset = chomp (replace $srcset ", " ", ") }}

<img fetchpriority="high" class="fl-photo-img size-full"
     src="{{ $imageWebP.RelPermalink }}" alt="{{ $title }}"
     height="{{ $image.Height }}" width="{{ $image.Width }}" title="{{ $title }}"
     srcset="{{ $srcset }}"
     sizes="(max-width: 730px) 100vw, 730px" />
