{{- $image := .image -}}
{{- $alt := .alt | default "Image" -}}
{{- $width := .width | default 800 -}}
{{- $height := .height | default 600 -}}

{{ if $image }}
  {{ if (resources.Get $image) }}
    {{ $img := resources.Get $image }}
    <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" width="{{ $width }}" height="{{ $height }}" loading="lazy">
  {{ else }}
    {{ warnf "Missing image: %s" $image }}
    <img src="/img/placeholder.svg" alt="{{ $alt }}" width="{{ $width }}" height="{{ $height }}">
  {{ end }}
{{ else }}
  <img src="/img/placeholder.svg" alt="{{ $alt }}" width="{{ $width }}" height="{{ $height }}">
{{ end }}