{{ $image := .image }}
{{ $title := .title }}
{{ $widths := slice 150 300 }}

{{ $originalWidth := $image.Width }}
{{ $imageWebP := $image.Resize (printf "%dx webp q75" $originalWidth) }}
{{ $srcset := "" }}
{{ range $widths }}
{{ if lt . $originalWidth }}
{{ $resized := $image.Resize (printf "%dx webp q75" .) }}
{{ $srcset = printf "%s%s %dw, " $srcset $resized.RelPermalink . }}
{{ end }}
{{ end }}
{{ $srcset = printf "%s%s %dw" $srcset $imageWebP.RelPermalink $originalWidth }}

<img loading="lazy" decoding="async" class="fl-photo-img size-full"
     src="{{ $imageWebP.RelPermalink }}" alt="{{ $title }}"
     itemprop="image" width="{{ $image.Width }}" height="{{ $image.Height }}" title="{{ $title }}"
     srcset="{{ $srcset }}"
     sizes="(max-width: 528px) 100vw, 528px">
