name: unit-tests

on:
  workflow_dispatch:

jobs:
  unit:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Run unit tests
        env:
          PRECOMPILED_ASSETS: '1'
          TEST_SERVER_PORT: '1314'
        run: bundle exec rake test TEST='test/unit/**/*_test.rb'
